.container{
    padding: 0 20px;
    width: auto;
}
.wrapper{
    height: auto !important;
    min-height: 100%;
    background: #fff;
    padding: 0 0 85px;
}
.footer_wrapper{
    margin: -85px auto 0;
}
h1{
    font-size: 1.143em;
    color: #374140;
    font-weight: 400;
}
h2 {
    line-height: 1.2;
    color: #374140;
    font-size: 1.143em;
    font-weight: 600;
    margin: 13px 0 8px 0;
}
.list_wrapperlinkspage .item{
    min-height: 38px;
    padding: 5px 0;
}
.mainblock_title {
    padding: 6px 20px;
    background-color: #E9E9E9;
}
.header-title{
    background: #2a4e64;
    padding: 11px 20px 10px;
}
.header-title p{
    color: #fff;
    font-size: 0.929em;
    line-height: 1.25em;
    font-family: "IntroRegular", sans-serif;
    letter-spacing: -0.04em;
}
.wrapper-lk .header-title{
    background: #a67468;
}
.dashboardb-wrapper{
    margin: 15px 0 0;
}
.dashboardb_blockstyle{
    margin: 0 0 14px;
    padding: 8px 10px 13px;
}
@media screen and (max-width: 480px) {
    .wrapper{
        padding: 0 0 164px;
    }
    .footer_wrapper{
        margin: -164px auto 0;
    }
    .container {
        padding: 0 10px;
    }
    .mainblock_title{
        padding: 11px 10px 11px;
    }
    h1 {
        font-size: 0.929em;
    }
    .header-title{
        padding: 11px 10px 10px;
    }
}
/* Begin 404 page */
.error-holder{
    width: auto;
    padding: 0;
    margin: 21px auto 30px;
}
.error-title{
    padding: 0;
    margin: 0 0 40px 0;
    height: 204px;
    background: url('../_i/bg-404_402x204.png') no-repeat center center;
}
/*.error-title span{
    font-size: 6em;
    padding: 0 0 0 173px;
}*/
.error-subtitle{
    font-size: 1em;
    color: #666;
    padding: 0 0 20px;
}
.error-help-text{
    font-size: 1em;
    color: #666;
}
.error-help-text a{
    color: #2a4e64;
    text-decoration: underline;
}
.error-help-text a:hover{
    text-decoration: none;
}
.list_wrapperlinkspage, .one-column-wrapper{
    padding: 0;
}
@media screen and (max-width: 480px) {
    .error-title{
        padding: 0;
        margin: 0 0 40px 0;
        height: 137px;
        background: url('../_i/bg-404_273x137.png') no-repeat center center;
    }
    .error-subtitle{
        padding: 0 0 5px;
        font-size: 0.929em;
    }
    .error-help-text{
        font-size: 0.929em;
    }
    .error-title{
        margin: 0 0 25px;
    }
}
/* End 404 page */

/* Begin login page */
.title_wrapperh2{
    padding: 10px 0 17px;
}
.title_wrapperh2 h2{
    margin: 0;
}
.title_wrapperh2 p{
    font-size: 1em;
    margin: 8px 0 0;
}
.linkwitt_dashboard{
    line-height: 30px;
    color: #385c73;
    font-size: 1.143em;
    font-weight: 600;
    padding: 9px 61px 7px 51px;
    margin: 16px 0 0;
}
.linkwitt_dashboard::before{
    background: url('../_i/icons-mobile.png') no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: auto;
    top: -3px;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 480px) {
    .linkwitt_dashboard {
        display: block;
        text-align: center;
        padding: 9px 10px 7px;
    }
}
/* End login page */

/* Begin elements page */
.clockpicker-popover{
    position: absolute;
}
.clockpicker-tick{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.clockpicker-canvas line{
    stroke: #e74c3c;
    shape-rendering: crispEdges;
    position: relative;
    z-index: 25;
}
.clockpicker-canvas-bg{
    fill: #e74c3c;
    position: relative;
    z-index: 30;
}
.clockpicker-canvas-bearing{
    display: none;
}
.clockpicker-popover .popover-content{
    background-color: #e6ebef;
    border: 2px solid #d7dee4;
    border-radius: 0 0 2px 2px;
}
.clockpicker-plate{
    background-color: #d7dee4;
    border: 0;
}
.clockpicker-popover .popover-title{
    margin: 7px 0 0;
    border: 2px solid #d7dee4;
    border-radius: 2px 2px 0 0;
    background-color: #d7dee4;
    font-size: 40px;
    line-height: 1em;
    font-weight: normal;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}
.clockpicker-popover .popover-title span{
    font-size: 40px;
    line-height: 1em;
    font-weight: normal;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}
.clockpicker-popover .popover-title span.text-primary{
    color: #e74c3c;
}
.clockpicker-popover .popover-title .clockpicker-span-hours{
    position: relative;
    right: -10px;
    width: 50px;
    display: inline-block;
    text-align: right;
}
.clockpicker-popover .popover-title .clockpicker-span-minutes{
    position: relative;
    left: -10px;
    width: 50px;
    display: inline-block;
    text-align: left;
}
.clockpicker-canvas, .clockpicker-dial,
.clockpicker-plate{
    width: 184px;
    height: 184px;
}
.clockpicker-canvas, .clockpicker-dial{
    top: 0;
    left: 0;
}
.clockpicker-canvas-text{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    fill: #fff;
    stroke: transparent;
    position: relative;
    z-index: 30;
}
.clockpicker-canvas-fg{
    display: none;
}
.clockpicker-dial{
    z-index: 20;
}
.clockpicker-canvas{
    z-index: 20;
}
.clockpicker-tick.active{
    opacity: 0;
}
.clear{
    clear: both;
}
.elements .accordion-w1{
    margin: 0 0 30px;
}
.accordion-w1.ui-accordion .group{
    margin: 0;
}
.accordion-w1.ui-accordion .ui-accordion-header{
    border: 0;
    background: #385c73;
    padding: 10px 34px 10px 12px;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    position: relative;
    margin: 0;
}
.accordion-w1.ui-accordion .ui-accordion-header.ui-state-active{
    color: #333;
    font-weight: 600;
    border: 1px solid #d5dbe0;
    border-bottom: 0;
    background: #fff;
}
.accordion-w1.ui-accordion .ui-accordion-header:before{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #607d8f;
    border: 1px solid #385c73;
    border-top: 0;
    border-bottom: 0;
    content: "";
}
.accordion-w1.ui-accordion .ui-accordion-header.ui-state-active:before{
    opacity: 0;
}
.accordion-w1.ui-accordion .ui-accordion-header-icon{
    left: auto;
    right: 20px;
    top: 50%;
    margin: -2px 0 0;
    width: 8px;
    height: 5px;
    background: url('../_i/accord-arrow.png') no-repeat 0 0;
}
.accordion-w1.ui-accordion .ui-state-active .ui-accordion-header-icon{
    background-position: 0 -5px;
}
.accordion-w1.ui-accordion .ui-accordion-header-icon::after{
    display: none;
}
.accordion-w1.ui-accordion .ui-accordion-content{
    padding: 0;
    border: 0;
}
.accordion-w1 .custom_table{
    margin: 0;
    border: 1px solid #d5dbe0;
}
.accordion-w1 .custom_table th{
    padding: 2px 9px;
    border-bottom: 1px solid #c2cad1;
    height: 30px;
}
.accordion-w1 .custom_table td{
    border-color: #c2cad1;
}
.accordion-w1.ui-accordion .accordion-content{
    border: 1px solid #d5dbe0;
    padding: 10px;
}
.accordion-w1.ui-accordion .accordion-content p{
    color: #666;
}
@media screen and (max-width: 480px) {
    .accordion-w1.ui-accordion .accordion-content p {
        font-size: 13px;
        line-height: 1.2em;
    }
}
/* End elements page */

.btn_sub a:before{
    position: relative;
    top: 3px;
}