@font-face {
	font-family: 'IntroCondLightFree_0';
	src: url('fonts/IntroCondLightFree_0.eot');
	src: url('fonts/IntroCondLightFree_0.eot') format('embedded-opentype'),
	url('fonts/IntroCondLightFree_0.woff2') format('woff2'),
	url('fonts/IntroCondLightFree_0.woff') format('woff'),
	url('fonts/IntroCondLightFree_0.ttf') format('truetype'),
	url('fonts/IntroCondLightFree_0.svg#IntroCondLightFree_0') format('svg');
}
@font-face {
	font-family: 'IntroCondBlackFree_0';
	src: url('fonts/IntroCondBlackFree_0.eot');
	src: url('fonts/IntroCondBlackFree_0.eot') format('embedded-opentype'),
	url('fonts/IntroCondBlackFree_0.woff2') format('woff2'),
	url('fonts/IntroCondBlackFree_0.woff') format('woff'),
	url('fonts/IntroCondBlackFree_0.ttf') format('truetype'),
	url('fonts/IntroCondBlackFree_0.svg#IntroCondBlackFree_0') format('svg');
}

@font-face {
    font-family: "IntroRegular";
    src: url("fonts/IntroRegular.eot");
    src: url("fonts/IntroRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/IntroRegular.woff") format("woff"),
    url("fonts/IntroRegular.ttf") format("truetype");
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	color: #666666;
	background-color: #ebf2f5;

}
a {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	outline: none;
	color: #385c73;
}
img {
	border:none;
}
li {
	list-style: none;
	line-height: 1.4;
}
ol {
	counter-reset: list 0;
}
ol li::before {
	counter-increment: list;
	content: counter(list) ") ";
}
a:hover {
	text-decoration: none;
}
.wrapper {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	//background-image: url('../_i/bg_all_page_1900x994.png');
	//background-repeat: no-repeat;
	//background-position: center calc(100% - 246px);
	//background-position: center -webkit-calc(100% - 246px);
}
.wrapper.bg-blue{
    background-color: #edf2f5;
    background-image: none;
}
input::-ms-clear {
   display: none;
}

/* Header
-----------------------------------------------------------------------------*/
.header_wrapper {
	background-color: #ffffff;
}
.header {
	width: 100%;
	margin: 0 auto;
	height: 60px;
  	color: #7D8691;
	position: relative;
}
.header .burger {
	position: absolute;
    left: auto;
	right: 20px;
    top: 20px;
  	box-sizing: border-box;
  	border-color: #2a4e64;
  	border-style: solid;
  	border-width: 3px 0;
  	background-color: transparent;
  	width: 22px;
  	height: 17px;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.header .burger:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 4px;
  background-color: #2a4e64;
}
.header .rotate {
  -webkit-transition: rotate(90deg);
	transform: rotate(90deg)
}
.header .logo {
	overflow: hidden;
	margin-top: 8px;
	margin-left: 11px;
	float: left;
	overflow: hidden;
}
.header .logo a {
	text-decoration: none;
}
.header .logo img {
	float: left;
	margin-right: 9px;
}
.header .logo .text {
	float: left;
	color: #000000;
	font-size: 10px;
	line-height: 1.1;
	text-transform: uppercase;
	display: block;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
	font-family: 'IntroRegular';
}
.header .logo .text .big_text {
	font-size: 17px;
	display: block;
}
.header .contacts {
	float: right;
	margin-right: 26px;
	margin-top: 25px;
}
.header .contacts a{
	color:#385c73;
	font-size: 0.928em;
	text-decoration: underline;
}
.header .contacts a:hover {
	color: #e74c3c;
}
.header_wrapper nav {
	background-color:#385c73;
}
.scroll-to-fixed-fixed {
	-webkit-box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.67);
box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.67);
}
.header_wrapper .wrapper_topmenu{
	min-width: 320px;
	margin: 0 auto;
}

.header_wrapper .wrapper_topmenu .first_linkmenu {
	width: 100%;
	position: relative;
}
.header_wrapper .wrapper_topmenu .first_linkmenu .court_name {
	font-size: 1em;
    color: #b1d4f0;
    text-transform: none;
    margin-top: 5px;
    position: relative;
    letter-spacing: -1px
}
.header_wrapper .wrapper_topmenu .first_linkmenu > a {
	display: block;
	padding-top: 11px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 600;
	height: 40px;
	width: 100%;
	text-align: center;
	position: relative;
}

.header_wrapper .wrapper_topmenu .first_linkmenu > a span{
	font-size: 0.928em;
}
.header_wrapper .wrapper_topmenu .first_linkmenu > a span:first-child::after {
    position: absolute;
    background-image: url('../_i/icons.png');
    background-position: -20px 0;
    background-repeat: no-repeat;
    height: 9px;
    width: 13px;
    content: "";
    display: block;
	right: 25px;
	top: 15px;
    -webkit-transition: all 0.5s ease;
	  transition: all 0.5s ease;
}
.header_wrapper .wrapper_topmenu .first_linkmenu > a.active span:after {
	 -webkit-transition: rotate(180deg);
	 transform: rotate(180deg);
}
.header_wrapper .wrapper_topmenu .first_linkmenu > a span.first_linkmenu_selected {
	font-weight: 600;
	color: #b1d4f0;
	position: relative;
	top: 10px;
}
.header_wrapper .wrapper_topmenu .first_linkmenu .dropdown_menu {
	background-color: #c2d5db;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 200;
	list-style: none;
	overflow: hidden;
	display: none;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header_wrapper .wrapper_topmenu .first_linkmenu .jsscroll_pane {
	height: 100%;
}
.first_linkmenu .dropdown_menu .jspPane {
	width: 280px !important; 
}
.header_wrapper .wrapper_topmenu .first_linkmenu .dropdown_menu a {
  display: block;
  padding: 8px 20px;
  font-size: 13px;
  color: #374140;
  text-decoration: none;
}
/*.header_wrapper .wrapper_topmenu .first_linkmenu:hover .dropdown_menu{
	display: block;
}*/
.header_wrapper .wrapper_topmenu .first_linkmenu .dropdown_menu a:hover,
.header_wrapper .wrapper_topmenu .first_linkmenu .dropdown_menu a.active{
	 background-color: #e1eaed;								
}
@media screen and (max-width: 480px) {
	.header_wrapper .wrapper_topmenu .first_linkmenu .dropdown_menu a{
		font-size: 11px;
		padding: 8px 10px;
	}
}
/* END Header
-----------------------------------------------------------------------------*/




/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0;
	width: 100%;
	margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* END Middle
-----------------------------------------------------------------------------*/



/* Footer
-----------------------------------------------------------------------------*/
.footer_wrapper {
	min-width: 320px;
	margin: 0 auto;
	height: 164px;
	position: relative;
}
.footer {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
    background: #bacbdb;
    padding: 12px 15px;
    height: 164px;
    color: #7D8691;
}
.footer .social_icons {
	overflow: hidden;
	margin-bottom: 20px;
}
.footer .social_icons a {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-color: #CBE0F3;
	margin-right: 15px;
	border-radius: 100%;
	line-height: 40px;
	text-align: center;
}
.footer .social_icons a:hover {
	background-color: #ffffff;
}
.footer .social_icons a:hover::before {
	-webkit-transition: rotate(360deg);
	transform: rotate(360deg);
}
.footer .social_icons a::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.footer .social_icons a.icon_fb::before {
	background-position: -357px 0;
	width: 9px;
	height: 18px;
}
.footer .social_icons a.icon_vk::before {
	background-position: -368px 0;	
	height: 12px;
	width: 22px;
}
.footer .social_icons a.icon_yt::before {
	background-position: -393px 0;	
	width: 19px;
	height: 24px;
}
.footer .copyright{
  font-size: 0.857em;
  line-height: 1.5;
}
.footer .copyright span{
	display: block;
	margin-bottom: 5px;
}
.footer .descope_version_link {
  font-size: 12px;
  text-decoration: underline;
  margin-top: 20px;
  line-height: 1.333;
  color: #7D8691;
}

@media screen and (min-width: 480px) {
    .footer_wrapper{
    	height: 85px;
    }

    .footer_wrapper .footer{
    	height: 85px;
    }
    .footer .social_icons{
    	float: right;
    	margin-top: 10px;
    }
    .footer .copyright span{
    	margin-bottom: 0px;
    }
    .footer .descope_version_link{
    	margin-top: 0px;
    }
}
/* END Footer
-----------------------------------------------------------------------------*/






/* BEGIN left_bar
-----------------------------------------------------------------------------*/
.content .left_bar {
	width: 290px;
	float: left;
}
/* END left_bar
-----------------------------------------------------------------------------*/

/* BEGIN Court in numbers -----------------*/
.courtin_numbers{
	background:#fff;
	position:relative;
	overflow:hidden;
	height:400px;
}
.courtin_numbers .title{
	font-size: 1.143em;
	color:#374140;
	position:relative;
	text-align:center;
	margin-top:40px;
  font-family: 'IntroRegular';
  z-index: 1;
}
.courtin_numbers .title span{
	position:relative;
	z-index:100;
	background:#fff;
	padding:0px 20px;
	line-height:1;
	display:inline-block;
}
.courtin_numbers .title:after{
	height:3px;
	border-bottom:3px solid #e74c3c;
	position:absolute;
	top:5px;
	width:100%;
	content:"";
	left:0px;
}
.courtin_numbers .wrapper_items{
	border:5px solid #d0dff2;
	padding:70px 10px 20px;
	margin: -50px 10px 10px;
	position: relative;
  z-index: 2;
}
.courtin_numbers .wrapper_items .item{
	position:relative;
	padding-bottom:13px;
	margin-bottom:10px;
	overflow: hidden;
}
.courtin_numbers .wrapper_items .item:after{
	border-bottom:1px solid #d0dff2;
	width:167px;
	height:1px;
	left:50%;
	margin-left:-85px;
	content:"";
	position:absolute;
	bottom:0px;	
}
.courtin_numbers .wrapper_items .item:last-child{
	margin-bottom:0;
	padding-bottom:0;
}
.courtin_numbers .wrapper_items .item:last-child:after{
	display:none;
}
.courtin_numbers .wrapper_items .item .number{
	color:#d0dff2;
	font-size:3.571em;
	line-height:1;
	text-align:center;
	font-family: 'IntroRegular';
		-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@-webkit-keyframes move {
  from { top:-70px; }
  to   { top: 0;  }
}
@-moz-keyframes move {
  from { top:-70px; }
  to   { top: 0;  }
}
@-o-keyframes move {
  from { top:-70px; }
  to   { top: 0;  }
}
@keyframes move {
  from { top:-70px; }
  to   { top: 0;  }
}
.courtin_numbers .effect_block {
	position: relative;
	-webkit-animation: move 1s infinite; /* Safari 4+ */
  -moz-animation:    move 1s infinite; /* Fx 5+ */
  -o-animation:      move 1s infinite; /* Opera 12+ */
  animation:         move 1s infinite; /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1; 
  -o-animation-iteration-count: 1;
}
.courtin_numbers .wrapper_items .item .text{
	color:#7b9fb6;
	font-size:1.43em;
	line-height:1.1;
	text-align:center;
	font-family: 'IntroRegular';
	text-transform:uppercase;
}

/* END Court in numbers -----------------*/

/* BEGIN useful links  -----------------*/
.borderleft_title {
	padding-left:20px;
	position: relative;
}
.borderleft_title::before {
	position: absolute;
	content: '';
	width: 4px;
	height: 17px;
	top: 2px;
	left: 0;
	background-color: #e74c3c;
}
.useful_links{
	background:#a67468;
  margin-bottom: -1px;
}
.useful_links .title{
	padding:20px;
	background:#925f53;
    font-family: 'IntroRegular';
    font-weight: normal;
    min-height: 60px;
    line-height: 1.2;
}
.useful_links .title.title-w1{
    padding: 38px 20px;
    min-height: 95px;
}
.useful_links .title span{
	color:#fff;
	font-size:1.143em;
	text-transform:uppercase;
}
.useful_links .links_list{
	color:#fff;
	margin-left:15px;
  list-style: none;
  list-style-image: url('../_i/list_image_5x8.png');
  padding: 20px 25px 10px 20px;
}
.useful_links .links_list li{
	margin-bottom:15px;
	padding-left:10px;
	line-height:normal;
	list-style-image: url(../_i/list_image_5x8.png);
}
.useful_links .links_list li:hover {
list-style-image: url(../_i/list_image_hover_5x8.png);
}
.useful_links .links_list li:hover a{
	color:#fbd8c3;
}
.useful_links .links_list a{
	color:#fff;
	font-size: 1em;
}
/* END  useful links  -----------------*/

/*BEGIN  slider sidebar-----------------*/
.sidebarslider-wrapper {
	overflow: hidden;
	min-height: 381px;
	position: relative;
}
.sidebarslider-wrapper .title {
	min-height: 63px;
	border-bottom: 3px solid #ffffff;
	background-color: #2a4e64;
	padding:20px 70px 20px 25px;
	font-family: 'IntroRegular';
	font-weight: normal;
	color: #ffffff;
	position: relative;
	text-transform: uppercase;
	font-size: 1.143em;
	line-height: 1.2;
}
.sidebarslider-wrapper .title:before {
    content: "";
    position: absolute;
    bottom: -10.5px;
    left: 40px;
    height: 14px;
    width: 14px;
    background: #2a4e64;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    box-shadow: 3px solid #fff;
    z-index: 100;
}
.sidebarslider-wrapper .sidebar_slider a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.sidebarslider-wrapper .sidebar_slider .item .img-wrap{
    overflow: hidden;
    position: relative;
}

.sidebarslider-wrapper .sidebar_slider .item .img-wrap:before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(139, 166, 183, 0.5);
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    -webkit-transition: all .6s ease-out;
    z-index: 10;
    content: "";
}
.sidebarslider-wrapper .sidebar_slider .item a:hover .img-wrap:before{
    opacity: 0;
}
.sidebarslider-wrapper .sidebar_slider .item img {
	display: block;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    -webkit-transition: all .6s ease-out;
}
.sidebarslider-wrapper .sidebar_slider a:hover img{
    -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
}
.sidebarslider-wrapper .sidebar_slider .text {
	min-height: 83px;
	background-color: #385c73;
	padding: 15px 25px;
	font-size: 1em;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1.3;
	font-family: 'IntroRegular';
	text-decoration: none;
}
.sidebarslider-wrapper a:hover .text{
	text-decoration: none;
    color: #d0dff2;
}
.sidebarslider-wrapper .slick-arrow {
	top: -39px;
}
.sidebarslider-wrapper .slick-prev {
	right: 51px;
}
.sidebarslider-wrapper .slick-next {
	right: 17px;
}
/*-END  slider sidebar-------------------*/


/* BEGIN right_Bar
-----------------------------------------------------------------------------*/
.content .right_bar {
	width: 290px;
	float: left;
}
/* END right_Bar
-----------------------------------------------------------------------------*/
/* BEGIN map siderbar -----------------*/

.wrapper_map{
	height:400px;
	overflow:hidden;
}
.wrapper_map .title{
	font-size:1.143em;
	color:#374140;
	text-transform:uppercase;
	padding:20px;
	background:#fff;
	font-weight:normal;
	border-bottom:3px solid #e74c3c;
	position:relative;
	min-height: 60px;
 font-family: 'IntroRegular';
}
.wrapper_map .title:before {
	content: "";
	position: absolute;
	/*top: -webkit-calc(100% - 6px); /*may require prefix for old browser support*/
/*	top: calc(100% - 6px); /*i.e. half the height*/
	bottom: -11px;
	left: 40px;
	height: 14px;
	width: 14px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom:3px solid #e74c3c;
	border-right:3px solid #e74c3c;
	/*box-shadow:3px solid #e74c3c;*/
	z-index:100;
}

.wrapper_map .map_sidebar{
	position: relative;
	height:339px;
	overflow: hidden;
}
.wrapper_map .map_sidebar .btn_tomap{
	background-color:#FF4B38;
	color: #ffffff;
  font-size: 1em;
  border-radius: 3px;
  display: inline-block;
  padding: 9px 28px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 85px;
 		 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity:0;

  /* Good browsers */
  opacity: 0;
   -moz-transition: all .4s ease-out;
 -o-transition: all .4s ease-out;
 -webkit-transition: all .4s ease-out;
}
.wrapper_map .map_sidebar .btn_tomap::after {
	content: '';
	display: inline-block;
  height: 8px;
  width: 5px;
  background-image: url(../_i/icons.png);
  background-repeat: no-repeat;
  background-position: -122px -36px;
  margin-left: 5px;
}
.wrapper_map .map_sidebar img.mapsidebar {
 -moz-transition: all .2s ease-out;
 -o-transition: all .2s ease-out;
 -webkit-transition: all .2s ease-out;
 width: 100%;
 height: 100%;
}
.wrapper_map .map_sidebar img{
-moz-transition: all .2s ease-out;
 -o-transition: all .2s ease-out;
 -webkit-transition: all .2s ease-out;	
}
.wrapper_map .map_sidebar a:hover img.mapsidebar{
 -webkit-transform: scale(1.45);
 -moz-transform: scale(1.45);
 -o-transform: scale(1.45);
 }
 .wrapper_map .map_sidebar a:hover .btn_tomap {
 		 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity:1;

  /* Good browsers */
  opacity: 1;
 }
 
 .wrapper_map .map_sidebar .marker1 {
	 position: absolute;
	 left: 75px;
	 top: 58px;
	 z-index: 200;
 }
  .wrapper_map .map_sidebar .marker2 {
	 position: absolute;
	 right: 45px;
	 top: 115px;
	 z-index: 200;
 }
  .wrapper_map .map_sidebar .marker3 {
	 position: absolute;
	 left: 170px;
	 top: 138px;
	 z-index: 200;
 }
  .wrapper_map .map_sidebar .marker4 {
	 position: absolute;
	 left: 115px;
	 top: 198px;
	 z-index: 200;
 }
  .wrapper_map .map_sidebar .marker5 {
	 position: absolute;
	 right: 69px;
	 top: 61px;
	 z-index: 200;
 }
  .wrapper_map .map_sidebar .marker6 {
	 position: absolute;
	 left: 63px;
	 top: 134px;
	 z-index: 200;
 }
  .wrapper_map .map_sidebar .marker7 {
	 position: absolute;
	 left: 134px;
	 top:82px;
	 z-index: 200;
 }
.wrapper_map .map_sidebar a:hover .marker1{
   left: 42px;
   top: 20px;   
}
.wrapper_map .map_sidebar a:hover .marker2{
    right: -6px;
}
.wrapper_map .map_sidebar a:hover .marker3{
	left: 193px;
    top: 164px;  
}
.wrapper_map .map_sidebar a:hover .marker4{
	top: 252px;
}
.wrapper_map .map_sidebar a:hover .marker5{
	 right: 25px;
    top: 25px; 
}
.wrapper_map .map_sidebar a:hover .marker6{
	left: 20px;
}
.wrapper_map .map_sidebar a:hover .marker7{
	top: 56px;
}
  
/* END map siderbar -----------------*/
/*BEGIN CONTACT_RIGHT*/
.block_contacts .title{
	font-size:16px;
	color:#374140;
	text-transform:uppercase;
	padding:30px 20px;
	background:#fff;
	border-bottom:3px solid #e74c3c;
	position:relative;
  font-family: 'IntroRegular';
  font-weight: normal;
  min-height: 84px;
}
.block_contacts .title:before {
	content: "";
	position: absolute;
	bottom: -11px;
	left: 40px;
	height: 14px;
	width: 14px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom:3px solid #e74c3c;
	border-right:3px solid #e74c3c;
	box-shadow:3px solid #e74c3c;
	z-index:100;
}
.block_contacts{	
	background:#fff;
    border-left: 1px solid #edf2f5;
}
.block_contacts_inner{
	padding:30px 10px 30px 30px;
}

.block_contacts .item .text{
	color:#000;
	font-size:14px;
	display:inline-block;
	vertical-align:top;
	width:210px;
	font-weight:300;
}
.block_contacts .item{
	margin-bottom:10px;
}
.block_contacts .item::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.block_contacts .item.icon_map::before {
	background-position: 0 -77px;
}
.block_contacts .item.icon_metro::before {
	background-position: -23px -77px;	
}
.block_contacts .item.icon_phone::before {
	background-position: -46px -77px;	
}
.block_contacts .item.icon_time::before {
	background-position: -69px -77px;	
}
.block_contacts .link_more{
	display:inline-block;
	color:#e74c3c;
	font-weight:600;
	text-decoration:none;
	margin-left:30px;
	position:relative;
	text-decoration:none;
}
.block_contacts .link_more:hover{
	text-decoration:underline;
}
.block_contacts .link_more:after{
	content:"";
	position:absolute;
	right:-12px;
	top:5px;
	width:7px;
	height:10px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -93px -77px;	
}
/*END CONTACT_RIGHT*/

/* BEGIN services -----------------*/

.block_services .title{
	padding:20px;
	background:#2a4e64;
  font-family: 'IntroRegular';
  font-weight: normal;
  min-height: 60px;
}
.block_services .title span{
	color:#fff;
	font-size:1.143em;
	text-transform:uppercase;
}
.block_services .item{
	background:#385c73;
	padding:30px 25px 25px 30px;
	color:#fff;
	text-decoration:none;
	display:block;
	border-bottom:1px solid #607d8f;
}
.block_services .wrapper_title{
	margin-bottom:20px;
	overflow: hidden;
}
.block_services .wrapper_title::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 34px;
	width: 31px;
	margin-right: 15px;
}
.block_services .wrapper_title.icon_1::before {
	background-position: -35px 0;
}
.block_services .wrapper_title.icon_2::before {
	background-position: -97px 0;
}
.block_services .wrapper_title.icon_3::before {
	background-position: -161px 0;
}
.block_services .wrapper_title.icon_4::before {
	background-position: -228px 0;
}
.block_services .wrapper_title.icon_5::before {
	background-position: -292px 0;
}
.block_services .item:hover .wrapper_title.icon_1::before{
	background-position: -65px 0;
}
.block_services .item:hover .wrapper_title.icon_2::before{
  background-position: -129px 0;
}
.block_services .item:hover .wrapper_title.icon_3::before{
  background-position: -194px 0;
}
.block_services .item:hover .wrapper_title.icon_4::before{
	background-position: -260px 0;
}
.block_services .item:hover .wrapper_title.icon_5::before{
	background-position: -325px 0;
}
.block_services .item:hover {
	background:#A2D5F1;
	color:#fff;
	border-bottom:1px solid #A2D5F1;
}
.block_services .item:hover .text{
	color:#2a4e64;
	opacity:1;
}
.block_services .item:hover .item_title{
	color:#2a4e64;
	opacity:1;
	float: left;
}
.block_services .item_title{
	text-transform:uppercase;
	display:inline-block;
	vertical-align:top;
	width:180px;
  font-family: 'IntroRegular';
  font-weight: normal;
}
.block_services .text{
	opacity:0.75;
	font-size:0.928em;
}
.block_services .text em {
	  padding-left: 10px;
    display: block;
    font-size: 1em;
}
.block_services .item ul{
	list-style:none;
	padding-left:10px;
	margin-bottom: 20px;
}
.block_services .item ul li{
	position:relative;
	padding-left:0px;
	margin-left:0px;
	margin-bottom: 6px;
}
.block_services .item ul li:before{
	width:3px;
	height:3px;
	position:absolute;
	left:-10px;
	top:10px;
	content:"";
	background:#afbec7;
	display:block;
}
/* END services -----------------*/
/* BEGIN middle_bar
-----------------------------------------------------------------------------*/
.content .middle_bar {
	width: 100%;
	background-color: #ffffff;
}
.content .middle_bar.inner_nosider {
	width: 890px;
	min-height: 640px;
	padding-bottom: 40px;
}
/* END middle_bar
-----------------------------------------------------------------------------*/
/*BEGIN block news list---------------*/
.block_news {
	width: 100%;
	background-color: #ffffff;
}
.block_news .title{
	padding:21px 20px;
	background:#edf2f5;
	margin-bottom:5px;
  font-family: 'IntroRegular';
  font-weight: normal;
}
.block_news .title span{
	color:#374140;
	font-size:1.143em;
	text-transform:uppercase;
}
.block_news .title a{
	color:#374140;
  font-weight: normal;
  text-decoration: none;
}
.block_news .title a:hover{
  text-decoration: underline;
}
.block_news{
	padding-bottom:20px;
}
.block_news .item {
	border-bottom:1px solid #edf2f5;
	padding:20px 20px 30px;
	line-height: 1.2;
	display: block;
	text-decoration: none;
}
.block_news .item:hover {
	background-color: #EBF2F5;
}
.block_news .item .date{
	font-size:0.786em;
	color:#ababab;
	font-weight:bold;
	margin-bottom: 5px;
}
.block_news .item .item_title{
	font-size:1.43em;
	color:#374140;
	font-weight:600;
	margin-bottom:10px;
	text-decoration:none;
	display:inline-block;
}
.block_news .item .text {
	color: #666666;
}
.block_news .link_all{
	font-size:0.928em;
	color:#385c73;
	margin-left:20px;
	margin-bottom:20px;
	margin-top:25px;
	display:inline-block;
}
/*END block news list---------------*/

/*BEGIN main_slider_block- -------------------------*/
.wrapper_main_slider {
	overflow: hidden;
	width: 100%;
	height: 400px;
	position: relative;
	font-family: 'IntroRegular';
}
.wrapper_main_slider .main_title {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	min-height: 70px;
	padding: 25px 20px;
  background: rgba(0,0,0,0.5);
  text-align: left;
  z-index: 100;
}
.wrapper_main_slider .main_title span{
  color: #fff;
  font-size: 1.143em;
  text-transform: uppercase;
}
.wrapper_main_slider .main_slider {
	overflow: hidden;
	width: 100%;
	height: 400px;
	position: relative;
}
.wrapper_main_slider .item {
	width: 601px;
	height: 400px;
	position: relative;
} 
.wrapper_main_slider .main_slider .text {
	position: absolute;
  bottom: 45px;
  text-align: left;
  padding: 0px 30px;
  width: 100%;
  line-height: 1.5;
}
.wrapper_main_slider .main_slider .date {
  font-size: 0.786em;
  color: #bebebe;
}
.wrapper_main_slider .main_slider .title {
	font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}
.wrapper_main_slider .main_slider .title a {
	color: #fff;
	text-decoration: none;
}
.wrapper_main_slider .main_slider .title a:hover {
	text-decoration: underline;
}
.wrapper_main_slider .slick-arrow {
	top: 194px;
}
.wrapper_main_slider .slick-prev {
	left: 16px;
}
.wrapper_main_slider .slick-next {
	right: 19px;
}
/*END main_slider_block- -------------------------*/

/*BEGIN slick-arrow*/
.slick-arrow {
	position: absolute;
	width: 9px;
	z-index: 200;
	height: 13px;
	display: block;
	background:transparent;
	border:none;
	text-indent: -9999px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	outline: none;
	cursor: pointer;
}
.slick-next {
	background-position: -10px 0;
}
.slick-next:hover {
  background-position: -10px -14px;
}
.slick-prev {
  background-position: 0 0;
}
.slick-prev:hover {
  background-position: 0 -14px;
}
.slick-dots {
	bottom: 17px;
	position: absolute;
	width: 100%;
	text-align: center;
	height: 9px;
}
.slick-dots li {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	margin: 0 5px;
	line-height: 9px;
	vertical-align: top;
}
.slick-dots button {
	border:none;
	background-color: #ffffff;
	border-radius: 100%;
	width: 3px;
	height: 3px;
	text-indent: -9999px;
	top: 3px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	outline: none;
	-webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.slick-dots li.slick-active button{
	margin: 0;
	width: 9px;
	height: 9px;
	background-color: #FF4B38;
	top: 0;
}
.slick-dots button:hover {
	background-color: #FF4B38;
}
/*END slick-arrow*/


/*BEGIN breadcrumb*/
.breadcrumb {
	overflow: hidden;
	margin-bottom: 18px;
}
.breadcrumb li{
	float: left;
	list-style: none;
	font-size: 0.786em;
}
.breadcrumb li::after {
	content: '';
	background-image: url('../_i/icons.png');
	background-position: -24px -13px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
	width: 6px;
	margin: 0 7px;
}
.breadcrumb li:last-child::after {
	display: none;
}
.breadcrumb a {
	color: #666666;
}
.breadcrumb a:hover {
	text-decoration: none;
}
/*END breadcrumb*/
.mainblock_title {
	padding: 10px 30px 25px 30px;
	background-color: #E9E9E9;
}
.mainblock_title.white {
	background-color: #ffffff;
}

h1  {
	color: #374140;
	font-size: 1.428em;
	font-family: 'IntroRegular';
	line-height: 1.4;
}
h1 span{
	font-family: 'IntroCondBlackFree_0';
}
/*BEGIN list deal */
.list_deal .item {
	padding: 25px 30px 10px 30px;
	background-color: #ffffff;
}
.list_deal .item.bg {
	background-color: #EBF2F5;
}
.list_deal .item > div {
	margin-bottom: 15px;
}
.list_deal a {
	font-size: 1em;
	color: #385c73;
}
/*END list deal */
.title_wrapperh2 {
	border-bottom: 2px solid #E5EBF0;
	padding: 23px 0;
}
.title_wrapperh2.swith {
	overflow: hidden;
}
.title_wrapperh2.swith h2 {
	float: left;
}
.title_wrapperh2.swith .wrapper_switcher {
	float: right;
	margin-top: 4px;
}
.title_wrapperh2 h2 {
	margin: 0;
}
.title_wrapperh2 .desc {
	color:#999999;
	font-size: 0.786em;
}
.title_wrapperh2 p{
    line-height: 1.25em;
    margin: 17px 0 0
}
h2 {
	line-height: 1.2;
	color:#374140;
	font-size:1.43em;
	font-weight: 600; 
	margin: 30px 0 25px 0;
}

/*BEGIN sidebar menu */
.sidebar_menu {
	padding: 20px 0 20px 0;
	border-top: 3px solid #CBE0F3;
	position: relative;
  background-color:#385c73;
}
.sidebar_menu::before {
	  content: "";
    position: absolute;
    top: -9px;
    left: 40px;
    height: 14px;
    width: 14px;
    background: #2a4e64;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 3px solid #CBE0F3;
    border-right: 3px solid #CBE0F3;
    z-index: 100;
}
.sidebar_menu ul{
	list-style: none;
}
.sidebar_menu li {
  padding: 8px 30px 8px 45px;
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  position: relative;
}
.sidebar_menu .have_submenu li {
	padding-left: 15px;
}
.sidebar_menu .have_submenu li a {
	font-weight: normal;
	text-decoration: none;
}
.sidebar_menu .have_submenu li a.active {
	font-weight: bold;
	color: #b1d4f0;
}
.sidebar_menu .have_submenu ul{
	display: none;
	margin-top:  8px;
}
.sidebar_menu .have_submenu li a:hover {
	text-decoration: underline;
	color: #ffffff;
}
.sidebar_menu .have_submenu > a::before {
	content: '';
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -432px 0;
	top: 11px;
	left:20px;
	cursor: pointer;
}
.sidebar_menu .have_submenu.active > a::before ,
.sidebar_menu .have_submenu.active > a:hover::before {
	background-position: -417px 0px;
}
.sidebar_menu .have_submenu > a{
	display: block;
  padding: 8px 30px 8px 45px;
  margin: -6px -30px -8px -45px;
}
.sidebar_menu .have_submenu > a:hover {
	text-decoration: none;
}
.sidebar_menu .have_submenu > a:hover::before  {
	background-position: -417px -15px;
}
.blue_skine .have_submenu:hover {
	background-color: #2a4e64;
}
.sidebar_menu a {
	color: #ffffff;
	font-size: 0.928em;
	line-height: 1.2;
	font-weight: normal;
	text-decoration: none;
}
.sidebar_menu a:hover {
	text-decoration: underline;
}
/*END sidebar menu*/

/*link list page*/
.list_wrapperlinkspage, .one-column-wrapper {
	background-color: #ffffff;
	padding: 40px;
	overflow: hidden;
	width: 100%;
	min-height: 500px;
}
.list_wrapperlinkspage h1 {
	font-size: 20px;
	margin-bottom: 30px;
}
.list_wrapperlinkspage .item {
	width: 100%;
	padding: 5px;
	font-size: 1.1em;
	min-height: 50px;
}
.list_wrapperlinkspage .item a{
	color: #385c73;
}
.list_wrapperlinkspage .item a:hover {
	color: #e74c3c;
}
/*END*/

/*BEGIN lk siderbar*/
.lk_sidebar {
	background-color: #B77568;

}
.lk_sidebar .title {
	background-color: #A35F52;
	min-height: 60px;
	padding: 20px;
	border-bottom: 3px solid #ffffff;
  font-family: 'IntroRegular';
  font-weight: normal;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  font-size: 1.143em;
  line-height: 1.2;
}
.lk_sidebar .title::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 40px;
    height: 14px;
    width: 14px;
    background:#A35F52;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    /*box-shadow: 3px solid #fff;*/
    z-index: 100;
}
.lk_sidebar .link_lklist {
	padding: 15px 0;
	margin: 0;
}
.lk_sidebar li {
	list-style: none;
	padding: 8px 30px;
}
.lk_sidebar .have_submenu li {
	padding-left: 20px;
}
.lk_sidebar a {
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.928em;
	line-height: 1.3;
} 
.lk_sidebar a:hover,.lk_sidebar .have_submenu li a:hover {
	text-decoration: underline;
	color: #ffffff;
}
.lk_sidebar .have_submenu > a{
		display: block;
	padding: 8px 30px;
  margin: -8px -30px;
}
.lk_sidebar .have_submenu ul {
	margin-top: 8px;
	display: none;
}
.lk_sidebar .have_submenu:hover {
	background-color:#A35F52;
	  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.lk_sidebar .have_submenu > a:hover{
	text-decoration: none;
}
.lk_sidebar .have_submenu li a {
	color: #fff;
}
.lk_sidebar .have_submenu li.active > a{
    color: #fed5cb;
    font-weight: 600;
}
.lk_sidebar .have_submenu {
	position: relative;
}
/*.lk_sidebar .have_submenu.active {
	background-color:#A35F52;
}*/
.lk_sidebar .have_submenu >a::before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url('../_i/icons.png');
  background-repeat: no-repeat;
  background-position: -432px 0;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.lk_sidebar .have_submenu >a:hover::before {
	background-position: -448px -15px;
}
.lk_sidebar .have_submenu.active >a::before {
	background-position: -448px 0px;
}
.lk_sidebar .exit::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -464px 0;
	display: inline-block;
	width: 17px;
	height: 14px;
	margin-right: 10px;
	position: relative;
  top: 2px;
}
/*END lk siderbar*/

/* BEGIN ELEMENTs */
.row{
	margin: 0 -10px;
}
.row:after{
	display: table;
	clear: both;
	width: 100%;
	content: "";
}
.col{
	width: 50%;
	float: left;
	padding: 0 10px;
}
.fild_wrapper {
	width: 100%;
	padding: 0;
}
@media all and (max-width: 480px) {
	.fild_wrapper {
		padding: 0;
	}
	.col{
		width: 100%;
		padding: 0;
	}
	.row{
		margin: 0;
	}
}
.custom-combobox{
    position: relative;
    display: block;
}
.ui-widget-content.ui-autocomplete .ui-menu-item-wrapper{
    padding: 3px 1em 3px 10px;
}
.custom-combobox-toggle{
    position: absolute;
    right: 0;
    display: block;
    top: 0;
    margin: 0;
    bottom: 0;
    background: transparent !important;
    border: 0 !important;
}
.custom-combobox-toggle:hover{
    border: 0;
    background: transparent;
}
.custom-combobox-toggle::before {
    content: '';
    background-image: url(../_i/icons.png);
    background-position: -106px -36px;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 13px;
    left: 5px;
    width: 8px;
    height: 5px;
}
.custom-combobox-toggle:hover::before,
.custom-combobox .custom-combobox-input:focus + .custom-combobox-toggle::before{
    background-position: -106px -42px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
.custom-combobox .custom-combobox-input{
	height: 30px;
	border-radius: 3px;
	border: 2px solid #E5EBF0;
	width: 100%;
	background-color: #E5EBF0;
	outline: none;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#666666;
	font-size: 1em;
	padding-right: 35px;
	text-indent: 10px;
}
textarea {
	height: 131px;
	border-radius: 3px;
	border: 2px solid #E5EBF0;
	width: 100%;
	outline: none;
	color:#666666;
	font-size: 1em;
	padding:5px 10px;
	resize: vertical;
	line-height: 1.2;
	max-height: 200px;
	overflow: auto;
}
textarea.resize_text {
	height: 30px;
}
.big_textarea textarea{
	height: 131px;
	resize: none;
}
.fild_wrapper.big_textarea {
	width: 100%;
}
.full_width {
	width: 100%;
}
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,textarea:hover,textarea:focus,
.custom-combobox .custom-combobox-input:hover,
.custom-combobox .custom-combobox-input:focus {
	border: 2px solid #D5DFE5;
}
.fild_wrapper ::-webkit-scrollbar,
.ui-timepicker-viewport ::-webkit-scrollbar {
	width: 20px;
}
.fild_wrapper ::-webkit-scrollbar-track,
.ui-timepicker-viewport ::-webkit-scrollbar-track {
	background-color: #D5DFE5;
}
.fild_wrapper ::-webkit-scrollbar-thumb,
.ui-timepicker-viewport ::-webkit-scrollbar-thumb {
	background-color: #AEC0CC;
  background-image: url('../_i/icon_scroll_6x7.png');
  background-repeat: no-repeat;
  background-position: center;
}
.fild_wrapper ::-webkit-scrollbar-corner,
.ui-timepicker-viewport ::-webkit-scrollbar-corner{
	background-color: #D5DFE5;
}
.fild_wrapper, .ui-timepicker-viewport{
  scrollbar-base-color: #AEC0CC;
  scrollbar-3dlight-color: #D5DFE5;
  scrollbar-highlight-color: #D5DFE5;
  scrollbar-track-color: #D5DFE5;
  scrollbar-arrow-color: #D5DFE5;
  scrollbar-shadow-color: #AEC0CC;
  scrollbar-dark-shadow-color: #D5DFE5;
}
.fild_wrapper label{
  margin-top: 12px;
  line-height: 1;
  margin-bottom: 4px;
  font-size: 1em;
  display: inline-block;
}
span.star {
	color:#e74c3c;
}
.fild_wrapper.disabled label {
	color:#CFCFCF;
}
.fild_wrapper.disabled input[type="text"],
.fild_wrapper.disabled input[type="text"].error,
.fild_wrapper.disabled input[type="tel"],
.fild_wrapper.disabled input[type="email"],
.fild_wrapper.disabled input[type="tel"].error,
.fild_wrapper.disabled input[type="email"].error {
	border: 2px solid #F1F5F7;
	background-color: #F1F5F7;	
	color: #BEBFC1;
}
.fild_wrapper .input_wrap {
	position: relative;
}
.fild_wrapper input[type="text"]:required:not(:focus):valid,textarea:required:not(:focus):valid,
.fild_wrapper input[type="text"].valid:not(:required):not(:focus),textarea.valid:not(:focus),
.fild_wrapper input[type="tel"]:required:not(:focus):valid,
.fild_wrapper input[type="email"]:required:not(:focus):valid,
.fild_wrapper input[type="tel"].valid:not(:required):not(:focus),
.fild_wrapper input[type="email"].valid:not(:required):not(:focus){
	background-color: #ffffff;
	color:#333333;
	border: 2px solid #D5DFE5;
}
.fild_wrapper input[type="text"]:required:not(:focus):valid ~ .icon::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 20px;
	height: 20px;
	background-position: 0 -36px;
}
.fild_wrapper input[type="text"].error,
textarea.error,
.custom-combobox .custom-combobox-input.error,
.fild_wrapper input[type="tel"].error,
.fild_wrapper input[type="email"].error {
	background-color: #FDADA6;
	border: 2px solid #FDADA6;
}
.fild_wrapper span.error::before,
.fild_wrapper label.error::before{
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 20px;
	height: 20px;
	background-position: -22px -36px;
}
.fild_wrapper span.error,
.fild_wrapper label.error{
	color:#e74c3c;
	font-size: 0.857em;
	font-weight: normal;
	margin: 0;
}
.fild_wrapper.disabled span.error,
.fild_wrapper.disabled label.error{
    display: none;
}
.ui-tooltip.ui-widget{
    background: 0;
    padding: 0;
    color: #e74c3c;
    font-size: 0.857em;
    font-weight: normal;
    border: 0;
}
.ui-tooltip.ui-widget .ui-tooltip-content{
    position: relative;
    top: -13px;
}
/* BEGIN button */
.linkwitt_dashboard {
	border: 1px dashed #CECECE;
	display: inline-block;
	padding: 28px 32px 28px 75px;
	color:#e74c3c;
	font-size: 1.43em;
	text-decoration: none;
	position: relative;
	margin-top: 21px;
	font-weight: 600;
	border-radius: 3px;
}
.linkwitt_dashboard::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: 23px;
	top: 18px;
	width: 37px;
	height: 37px;
	background-position: -47px -36px;
}
.linkwitt_dashboard:hover{
	background-color: #F1F5F7;
}
.linkexit_dashboard {
	border: 1px dashed #CECECE;
	display: inline-block;
	padding: 15px 36px 15px 60px;
	color:#385c73;
	font-size: 1em;
	text-decoration: underline;
	position: relative;
	margin-top: 20px;
	font-weight: 600;
	border-radius: 3px;
}
.linkexit_dashboard::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: 31px;
	top: 18px;
	width: 19px;
	height: 15px;
	background-position: -85px -36px;
}
.linkexit_dashboard:hover{
	background-color: #F1F5F7;
	text-decoration: none;
}

.btn_blue {
	background-color: #385c73;
	color:#ffffff;
	font-size: 1em;
	border-radius: 3px;
	display: inline-block;
	padding: 9px 28px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	border:none;
	outline: none;
	cursor: pointer;
}
.btn_blue:disabled,
.btn_blue.disabled{
    background-color: #9badb9 !important;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    pointer-events: none;
}
.btn_blue:hover {
	background-color:#FF4B38;
}
.btn_grey {
	background-color: #898989;
	color:#ffffff;
	font-size: 1em;
	border-radius: 3px;
	display: inline-block;
	padding: 9px 23px;
	font-weight: 600;
	text-decoration: none;
    border:none;
	outline: none;
	cursor: pointer;
}
.btn_grey:disabled,
.btn_grey.disabled{
    font-weight: normal;
    background-color: #c3c3c3 !important;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    pointer-events: none;
}
.btn_grey:hover {
	background-color: #ABABAB;
}
/*END button*/
/*BEGIN auticomplite*/
.autocomplete_input + .icon::before {
	content: '...';
	display: block;
	position: absolute;
  right: 10px;
  top: 10px;
  width: 11px;
  height: 15px;
	color:#a5b2bd;
	font-size: 1em;
}
input.autocomplete_input.open {
	border-radius: 3px 3px 0 0;
	border-bottom-color:#E5EBF0;
}
.ui-widget-content.ui-autocomplete {
	  border: 2px solid #D5DFE5;
    border-top: 0;
    background-color: #E5EBF0;
    border-radius: 0 0 3px 3px;
}
.ui-widget-content.ui-autocomplete .ui-menu-item-wrapper {
	padding-left: 10px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#666666;
	font-size: 1em;
	border: none;
	margin: 0;
}
.ui-widget-content.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
	background-color: #ffffff;
	border: none;
	margin: 0;
}
/*END autocomplite*/
.pull_right {
	float: right;
}
/*BEGIN Selectbox*/

.ui-timepicker-standard,
.ui-widget.ui-widget-content.ui-timepicker{
    padding: 0;
    border: 0;
}
.ui-timepicker-standard{
    margin: -2px 0 0;
    background: transparent;
}
.sbHolder {
	height:30px;
	position: relative;
}
.sbSelector, .ui-selectmenu-button.ui-button {
	display: block;
	font-weight: normal;
	padding-left: 10px;
	border-radius:3px;
	height:30px;
  border: 2px solid #E5EBF0;
  width: 100%;
  background-color: #E5EBF0;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #666666;
  font-size: 1em;
  line-height: 1.8;
  text-decoration: none;
}
.ui-selectmenu-button.ui-button.err{
    background-color: #FDADA6;
    border: 2px solid #FDADA6;
}
.ui-selectmenu-text{
	height: auto;
	line-height: 1em;
}
.sbSelector.selectedItem {
	 background-color: #ffffff;
}
.sbSelector.sbFocus,
.ui-selectmenu-button.ui-button:hover{
	border-color: #D5DFE5;
}
.sbSelector.sbSelectorOpen,
.ui-selectmenu-button.ui-button.ui-selectmenu-button-open{
	 border-radius: 3px 3px 0 0;
	 border-color: #D5DFE5;
	 border-bottom-color: #D5DFE5;
}
.sbToggle, .ui-selectmenu-icon.ui-icon {
  display: block;
  height: 30px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
}
.ui-selectmenu-icon.ui-icon{
	height: 26px;
	width: 21px;
}
.sbToggle::after, .ui-button .ui-selectmenu-icon.ui-icon::after {
	content: '';
	background-image: url('../_i/icons.png');
	background-position: -106px -36px;
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	top: 13px;
	left: 0;
	width: 8px;
	height: 5px;
}
.ui-button .ui-selectmenu-icon.ui-icon::after{
	top: 11px;
}
.sbToggleOpen.sbToggle::after,
.ui-button:hover .ui-selectmenu-icon.ui-icon::after,
.ui-button.ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon::after {
	background-position: -106px -42px;
}
.sbOptions {
	background-color: #E5EBF0;
	border:2px solid #D5DFE5;
	border-top: none;
	list-style: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  max-height: none !important;
  border-radius: 0 0 3px 3px;
  padding-top: 5px;
}
.ui-selectmenu-menu .ui-menu,
.ui-timepicker-viewport{
	background-color: #E5EBF0;
	border:2px solid #D5DFE5;
	border-top: 0;
	margin: -2px 0 0;
	max-height: none !important;
	border-radius: 0 0 3px 3px;
	padding-top: 5px;
    box-sizing: border-box;
}

.sbOptions .sbDisabled,
.ui-selectmenu-menu .ui-widget-content .ui-state-disabled{
	display: none;
}
.sbOptions  li a,
.ui-menu .ui-menu-item-wrapper,
.ui-timepicker-standard a{
	height: 30px;
	display: block;
	padding-left: 10px;
	line-height: 1.8;
	font-size: 1em;
	color:#666666;
	font-weight: normal;
	text-decoration: none;
    border: 0;
}
.ui-timepicker-standard a{
    padding-left: 0;
    font-size: 14px;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.sbOptions  li a:hover,
.ui-widget-content .ui-state-active,
.ui-button.ui-state-active:hover,
.ui-timepicker-standard a:hover,
.ui-timepicker-standard a.ui-state-hover{
	background-color: #fff;
	border: 0;
	color: #666;
	margin: 0;
}

/*END selectbox*/

/*BEGIN tabs*/
.tabs_wrapper.ui-tabs {
  background: transparent;
  border: none;
  margin: 40px 0 0 0;
  padding: 0;
}
.tabs_wrapper .ui-tabs-nav {
  background: transparent;
  border: none;
  margin: 0 0 -1px 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.tabs_wrapper .ui-tabs-nav .ui-tabs-tab {
/*	display: table-cell;
	float: none;*/
	border:none;
	height: 50px;
	background-color: #385c73;
	margin: 0;
	width: 100%;
	border-radius: 0;
	border:1px solid transparent;
    border-right-color: #607d8f;
	border-top: none;
}
.tabs_wrapper.ui-tabs .ui-tabs-nav li.ui-tabs-tab.ui-state-hover {
	background-color: #2a4e64;
	/*border-left: 1px solid #447285;
	border-right: 1px solid #447285;*/
}
.tabs_wrapper.ui-tabs .ui-tabs-nav li.ui-tabs-tab.ui-tabs-active {
	background-color: #ffffff;
	border: 1px solid #D4DCE1;
	border-bottom: 1px solid transparent;
	padding: 0;
	margin: 0;
	z-index: 3;
}
.tabs_wrapper .ui-tabs-nav li.ui-tabs-tab.ui-tabs-active a{
	color: #333333;
	font-weight: 600;
}
.tabs_wrapper .ui-tabs-nav .ui-tabs-tab a {
	padding: 15px 30px;
	height: 100%;
	color :#ffffff;
	font-weight: normal; 
	font-size: 1em;
  width: 100%;
  display: block;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tabs_wrapper.ui-tabs .ui-tabs-panel {
	border: 1px solid #D4DCE1;
	z-index: 2;
	position: relative;
	padding: 20px;
}
p {
	font-size: 1em;
	color: #666666;
	line-height: 1.5;
}
/*END tabs*/

/*BEGIN Available case-*/
.wrapper_avaible_cases{
	margin: 0 0 20px;
}
.btn_dash {
	font-size: 1em;
	color: #385c73;
	text-decoration: none;
	border-bottom: 1px dashed #385c73;
	font-weight: 600;
	display: inline-block;
}
.btn_dash:hover,.btn_dash.open {
	color: #e74c3c;
	border-bottom: 1px dashed #e74c3c;
}
.available_case {
	overflow: hidden;
	margin-top:21px;
}
.available_case .wrap_case {
	padding-top: 0;
	display: none;
}
.available_case .wrap_case > div {
    margin-top: 15px;
}
.available_case .wrap_case a{
	font-size: 1em;
  color: #385c73;
}
/*END Available case-*/

/*BEGIN accord*/
.wrapper_accord {
	border-radius: 3px;
}
.wrapper_accord .item{
	min-height: 33px;
	border: 1px dashed #CECECE;
	color: #666666;
	font-weight: normal;
	outline: none;
	background-color: transparent;
	  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 3px;
  cursor: pointer;
	padding: 6px 13px 0 48px;
	position: relative;
	margin-top: 20px;
}
.wrapper_accord .item::before {
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	top: 6px;
	left: 15px;
	background-color: #E5EBF0;
}
.wrapper_accord .item::after {
	content: '';
	position: absolute;
	top: 15px;
	left: 22px;
	height: 5px;
	width: 8px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -106px -36px;
		  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrapper_accord .item.open::after {
	  -webkit-transition: rotate(180deg);
    transform: rotate(180deg);
}
.wrapper_accord .item.open {
	padding-bottom: 13px;
}
.wrapper_accord .item .more {
	display: none;
}
.wrapper_accord .item:hover {
	background-color: #F1F5F7;
}
/*jquery ui accordion*/
.wrapper_accordion {
	border:none;
	padding: 0;
	background: transparent;
}
.ui-accordion .ui-accordion-header {
	margin: 0;
	padding: 15px 7px 15px 48px;
	font-size: 1em;
	color: #666666;
	font-weight: normal;
	background: transparent;
	border: 1px dashed #CECECE;
	outline: none;
	position: relative;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ui-accordion .ui-accordion-header.check{
    padding: 15px 7px 15px 19px;
}
/*.ui-accordion .ui-accordion-header::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    top: 14px;
    left: 15px;
    background-color: #E5EBF0;
}*/
/*.ui-accordion .ui-accordion-header::after {
    content: '';
    position: absolute;
    top: 23px;
    left: 22px;
    height: 5px;
    width: 8px;
    background-image: url(../_i/icons.png);
    background-repeat: no-repeat;
    background-position: -106px -36px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}*/
.ui-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon::after {
    -webkit-transition: rotate(180deg);
    transform: rotate(180deg);
    top: 8px;
}
.ui-accordion .ui-accordion-header.ui-state-active {
	border-bottom-color: transparent;
	border-radius: 3px 3px 0 0;
	font-weight: 600;
}
.ui-accordion .ui-accordion-header.check.ui-state-active{
    border-bottom-color: #CECECE;
}
.ui-accordion .ui-accordion-header:hover{
	background-color: #F1F5F7;
}
.ui-accordion .ui-accordion-header.ui-state-active:hover {
	background-color: transparent;
}
.ui-accordion .ui-accordion-content {
	padding: 0 20px 20px 48px;
	border: 1px dashed #CECECE;
	border-top: none;
	outline: none;
	font-size: 1em;
	color: #666666;
	border-radius: 0 0 3px 3px;
	display: none;
}
.ui-accordion .group {
	margin-bottom:10px;
	position: relative;
}
.ui-accordion .ui-accordion-header-icon  {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    top: 14px;
    left: 15px;
    background-image: none;
    margin: 0;
    background-color: #E5EBF0;
    overflow: hidden;
}
.ui-accordion .ui-accordion-header-icon::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 7px;
    height: 5px;
    width: 8px;
    background-image: url(../_i/icons.png);
    background-repeat: no-repeat;
    background-position: -106px -36px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ui-accordion .check .ui-accordion-header-icon{
    display:  none;
}
/*END accord*/

/*BEGIN table*/
.custom_table{
	border:2px solid #C0CBD2;
	text-align: left;
	border-spacing: 0;
	font-size: 0.928em;
	margin: 0 0 20px;
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}
.custom_table .tr_with_border td {
	border-bottom: 2px solid #385c73;
}
.custom_table .tr_half td {
	width:50%;
}
.custom_table .tr_half td:first-child {
	font-weight: 600;
}
.custom_table .tr_dark td:first-child {
	background: #b2bec8;
}
.custom_table td {
	padding: 5px 20px;
	height: 29px;
	vertical-align: top;
	border-bottom: 1px solid #c2cad1;
	background-color: #e6ebef;
	color: #374140;
}
.custom_table th{
	padding: 5px 20px;
}
.custom_table td.td_dark{
	border-left: 1px solid #c2cad1;
	background: #b2bec8;
	font-weight: 600;
}
.custom_table td.td_light{
	border-right: 1px solid #c2cad1;
}
.custom_table td:first-child,.custom_table th:first-child {
	border-left: none;
	width: 122px;
	background-color: #d3dae0;
	font-weight: 600;
}
.custom_table .border-dark td:first-child,
.custom_table .border-dark th:first-child{
	background: #b2bec8;
	font-weight: 600;
}
.custom_table .tr_half_head td {
	text-align: center;
	font-weight: 600;
}
.custom_table .tr_underline td {
	border-bottom: 2px solid #8896a2;
}
.custom_table th {
	padding: 15px;
	height: 58px;
	background-color:#D1DBE1;
	color:#414b4b;
	border-left: 1px solid #C0CBD2;
	min-width: 87px;
	font-weight: 600;
}
.custom_table.inversia tbody tr:nth-child(2n+1){
	background-color:#E5EBF0;
}
.custom_table.inversia tbody tr:nth-child(2n){
	background-color:#ffffff;
}
.custom_table a {
	color: #385c73;
}
.lk_style .object_th {
	width: 490px;
	padding: 0;
	overflow: hidden;
}
.custom_table.lk_style th{
	background-color: #E5EBF0;
}
.custom_table.lk_style {
	border: 1px solid #D4DCE1;
}
.lk_style .object_th .rowth_intab{
	width: 100%;
	padding: 10px 15px;
	text-align: center;
	overflow: hidden;
}
.lk_style .object_th .th{
	width: 50%;
	float: left;
	text-align: center;
	padding: 10px 15px;
	border-top: 1px solid #D4DCE1;
}
.lk_style .object_td {
	overflow: hidden;
	padding: 0;
}
.lk_style .object_td .td {
	float: left;
	width: 50%;
	padding: 13px 15px;	
}
.lk_style .wrap_td {
	border-top: 1px solid #D4DCE1;
	overflow: hidden;
}
.lk_style .wrap_td:first-child {
	border-top: none;
}
.lk_style tr td {
	border-bottom: 1px solid #D4DCE1;
}
.lk_style tr:last-child  td{
	border-bottom: none;
}
.lk_style .object_th .th.border,.lk_style .object_td .td.border {
	border-right: 1px solid #D4DCE1;
}
.custom_table .border-dark{
	border: 2px solid #8896a2;
}
.custom_table tr .td_light{
	font-weight: normal !important;
}
@media screen and (max-width: 480px) {
	.custom_table td,
	.custom_table th{
		padding: 5px 15px;
	}
}
/*END table*/

/*BEGIN pagenav*/
.pagenav {
	margin-top: 40px;
	overflow: hidden;
}
.pagenav li{
	float: left;
	margin-left: 5px;
	list-style: none;
	height: 30px;
	font-size: 1em;
	color:#666666;
}
.pagenav li a {
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	background-color: #385c73;
	border-radius: 3px;
  line-height: 2;
}
.pagenav li a:hover {
	background-color: #FF4B38;
}
.pagenav li a::before {
	content: '';
	display: inline-block;
	height: 8px;
	width: 5px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
}
.pagenav li .begining::before {
		background-position: -129px -36px;
		width: 9px;
}
.pagenav li .prev::before {
		background-position: -116px -36px;
}
.pagenav li .next::before {
		background-position: -122px -36px;
}
.pagenav li .intheend::before {
		background-position: -139px -36px;
		width: 9px;
}
.pagenav li:first-child {
	margin-left: 0;
}
.pagenav li.active {
	padding: 0 15px;
}
.pagenav li.active span {
	width: 40px;
	height: 30px;
	background-color:#E5EBF0;
	text-align: center;
	display: inline-block;
	line-height: 2;
	border-radius: 3px;
	margin: 0 10px 0 20px;
}
.pagenav li input{
    width: 40px;
	height: 30px;
    padding: 6px 5px;
    font-size: 1em;
    border: 2px solid #E5EBF0;
    color: #666666;
	background-color:#E5EBF0;
	text-align: center;
	display: inline-block;
	line-height: 1em;
	border-radius: 3px;
	margin: 0 10px 0 20px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    text-indent: 0;
}
.pagenav li input::-webkit-outer-spin-button,
.pagenav li input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.pagenav .pagenav_simple li {
	margin-left: 70px;
}
.pagenav .pagenav_simple li input {
	background-color: #fff;
}
/*END pagenav*/

/*BEGIN radio and checkbox  */
.checkbox_element,.radio_element {
	float: left;
	min-width: 116px;
	padding: 10px 0;
}
.item_checkradio {
	margin-bottom: 19px;
}
.item_checkradio label{
	cursor: pointer;
}
.item_checkradio.disabled label{
	cursor: default;
}
.item_checkradio .innerlabel_text {
	display: inline-block;
	width: 100%;
	max-width: 750px;
	vertical-align: top;
}
.item_checkradio.disabled {
	color: #BCBCBC;
}
.checkbox_custom {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -172px -36px;
	position: relative;
	margin-right: 11px;
	vertical-align: middle;
}
.checkbox_custom.disabled {
	background-position: -150px -36px;
}
.checkbox_custom.hover {
	background-position: -194px -36px;
}
.checkbox_custom.checked {
	background-position: -216px -36px;
}
.radiobox_custom {
	width: 17px;
	display: inline-block;
	height: 17px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -254px -35px;
	position: relative;
	margin-right: 11px;
	vertical-align: middle;
}
.radiobox_custom.disabled {
	background-position: -237px -35px;
}
.radiobox_custom.hover {
	background-position: -271px -35px;
}
.radiobox_custom.checked {
	background-position: -288px -35px;
}

/*END radio and checkbox  */

/*BEGIN switcher */
.wrapper_checkbox {
	min-height: 150px;
}
.wrapper_switcher a{
	font-size: 1em;
	color:#385c73;
	text-decoration: none;
	border-bottom: 1px dashed #385c73;
}
.wrapper_switcher a.active {
	font-weight: 600;
	border-color: transparent;
	color:#2F3F3E;
    cursor: default;
}
.wrapper_switcher .left {
	display: inline-block;
	width: 170px;
	text-align: right;
}
.wrapper_switcher .right {
	display: inline-block;	
	width: 170px;
	text-align: left;
}
.wrapper_switcher .switcher {
	margin: 0 9px;
	width: 30px;
	height: 15px;
	border-radius: 15px;
	background-color: #CFDCE1;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.wrapper_switcher .switcher_btn {
	width: 15px;
	height: 15px;
	border-radius:100%;
	display: inline-block;
	background-color: #FF4B38;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*END switcher*/

/*BEGIN wrapper_uploadfile*/
.wrapper_uploadfileslist{
    margin-bottom: 10px;
}
.wrapper_uploadfile {
	overflow: hidden;
	position: relative;
	margin-top: 15px;
}
.wrapper_uploadfile .file_input {
	position: absolute;
	visibility: hidden;
	right: 0;
	top: 0;
	width: 100px;
	height: 30px;
}
.wrapper_uploadfile .input_wrap {
	width: auto;
	float: none;
	margin: 0 106px 0 0;
}
.wrapper_uploadfile .upload {
	float: right;
	height: 30px;
	border-radius: 3px;
	color:#ffffff;
	font-weight: normal;
	font-size: 0.928em;
	width: 100px;
	text-decoration: none;
	background-color: #385c73;
	text-align: center;
	line-height: 2.2;
}
.wrapper_uploadfile .upload:hover {
	background-color: #FF4B38;
}
.add_file {
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	padding-bottom: 3px;
	padding-left: 37px;
	position: relative;
	line-height: 2;
}

.add_file::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 26px;
	border: 2px solid #E5EBF0;
	border-radius: 100%;
	background-color: transparent;
	display: block;
	-webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.add_file::after {
	content: '';
	position: absolute;
	left:11px;
	top: 11px;
	width: 8px;
	height: 8px;
	display: block;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -435px -18px;
}
.add_file:hover::before {
	background-color: #E5EBF0;
}
.add_file span {
	border-bottom: 1px dashed #666666;
	color:#666666;
	-webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.add_file:hover span{
	border-bottom: 1px dashed #e74c3c;
	color:#e74c3c;
}

@media all and (max-width: 480px) {
    .add_file {
		padding-left: 52px;
	}
	.add_file::before {
		left: 15px;
	}
	.add_file::after {
		left: 26px;
	}
}
/*END wrapper_uploadfile*/

/*BEGIN Datepicker*/
.wrapper_datepiker{
	margin: 0 -10px 0 0;
}
.wrapper_datepiker .left{
	float: left;
	width: 50%;
	padding: 0 10px 0 0;
}
.wrapper_datepiker span.error {
	display: none !important;
}
.wrapper_datepiker .right{
	float: left;
	width: 50%;
	padding: 0 10px 0 0;
}
.wrapper_datepiker .input_wrap {
	position: relative;
	text-align: center;
}
.wrapper_datepiker .input_wrap .text {
	position: absolute;
	top: 6px;
	color:#666666;
	font-size: 1em;
	left: 12px;
}
.wrapper_datepiker .input_wrap input[type="text"] {
	padding-left: 30px;
	text-align: center;
	text-indent: 0;
}
.wrapper_datepiker .input_wrap input[type="text"].valid{
	background-color: #ffffff;
}
.wrapper_datepiker .input_wrap input[type="text"].error{
	background-color: #FDADA6;
    border: 2px solid #FDADA6;
}
.wrapper_datepiker label {
	margin-bottom: 4px;
	display: block; 
	margin-top: 12px;
    line-height: 1em;
}
.wrapper_datepiker .input_wrap .ui-datepicker-trigger {
	position: absolute;
	display: block;
	right: 20px;
	top: 5px;
	width: 20px;
	height: 20px;
}
.ui-datepicker.ui-widget {
	border:2px solid #D5DFE5;
	background-color: #E5EBF0;
	padding: 8px 15px;
	width: 250px;
    z-index: 999 !important;
}
.ui-datepicker table{
		font-size: 0.928em;
}
.ui-datepicker .ui-datepicker-calendar th {
	padding: 0 0 5px 0;
}
.ui-datepicker .ui-datepicker-calendar th span {
	color:#666666;
	font-weight: normal;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 17px;
	padding: 0;
	border: none;
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 7px;
	background-color: transparent;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all {
	display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	margin: 0;
	text-align: left;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .sbHolder {
	width: 100px;
	display: inline-block;
	margin-right: 15px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .sbSelector {
  border-color: #C3CED5;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .sbOptions {
	border-color: #C3CED5;
	max-height: 180px !important;
  overflow: auto;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title{
  scrollbar-base-color: #AEC0CC;
  scrollbar-3dlight-color: #D5DFE5;
  scrollbar-highlight-color: #D5DFE5;
  scrollbar-track-color: #D5DFE5;
  scrollbar-arrow-color: #D5DFE5;
  scrollbar-shadow-color: #AEC0CC;
  scrollbar-dark-shadow-color: #D5DFE5;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title ::-webkit-scrollbar {
	width: 20px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title ::-webkit-scrollbar-track {
	background-color: #D5DFE5;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title ::-webkit-scrollbar-thumb {
	background-color: #AEC0CC;
  background-image: url('../_i/icon_scroll_6x7.png');
  background-repeat: no-repeat;
  background-position: center;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title ::-webkit-scrollbar-corner  {
	background-color: #D5DFE5;
}

.ui-timepicker-viewport{
    overflow-y: auto;
}

.ui-timepicker ::-webkit-scrollbar {
	width: 20px;
}
.ui-timepicker ::-webkit-scrollbar-track {
	background-color: #D5DFE5;
}
.ui-timepicker ::-webkit-scrollbar-thumb {
	background-color: #AEC0CC;
  background-image: url('../_i/icon_scroll_6x7.png');
  background-repeat: no-repeat;
  background-position: center;
}
.ui-timepicker ::-webkit-scrollbar-corner  {
	background-color: #D5DFE5;
}
.ui-timepicker{
  scrollbar-base-color: #AEC0CC;
  scrollbar-3dlight-color: #D5DFE5;
  scrollbar-highlight-color: #D5DFE5;
  scrollbar-track-color: #D5DFE5;
  scrollbar-arrow-color: #D5DFE5;
  scrollbar-shadow-color: #AEC0CC;
  scrollbar-dark-shadow-color: #D5DFE5;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title .sbHolder:last-child {
	margin-right: 0;
}
.ui-datepicker .ui-datepicker-calendar a{
	text-align: center;
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	margin-bottom: 5px;
	background-color: transparent;
	color:#666666;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month a {
	color:#a8a8a8;
}
.ui-datepicker .ui-datepicker-calendar a.ui-state-hover,.ui-datepicker .ui-datepicker-calendar a.ui-state-active {
	background-color: #FF4B38;
	color:#ffffff;
}
/*END Datepicker*/

/*END elements*/

.bulet li{
	list-style: none;
	padding-left: 13px;
	display: block;
	margin-bottom: 20px;
	line-height: 1.3;
	position: relative;
	font-size: 1em;
}
.bulet li::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 100%;
	background-color:#C1CFD6;
}
.description_calc {
	font-size: 1.143em;
	color:#374140;
	line-height: 1.2;
	font-weight: 600;
}
.title_calc {
	margin: 30px 0 10px 0;
	font-size: 1.43em;
	color:#374140;
	font-weight: 600;
	line-height: 1.2;
}
.line_calc .inner_line {
	padding-left: 27px;
	display: none;
}
.line_calc .inner_line .item_checkradio {
	
}
.line_calc .filedtext {
	display: none;
	margin-bottom: 10px;
	margin-top: -20px;
}
/*BEGIN block reddashborder*/
.reddashborder_calc {
	border-radius: 3px;
	border: 2px dashed #FF4B38;
	padding: 25px;
}
.reddash_block {
	display: none;
}
.reddashborder_calc .title{
	font-size: 1.43em;
	color:#374140;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 25px;
}
.reddashborder_calc .for_doc {
	margin-bottom: 15px;
  line-height: 1;
  font-size: 1em;
}
.reddashborder_calc .left {
	float: left;
	width: 370px;
}
.reddashborder_calc .left .btn_blue {
	float: right;
}
.reddashborder_calc .right {
	float: right;
	width: 370px;
}
.reddashborder_calc .fild_wrapper {
	width: 100%;
}
.reddashborder_calc .btn_blue {
	margin-top: 20px;
	padding-left: 22px;
	padding-right: 22px;
}
/*END block reddashborder*/
.margin-top-70 {
	margin-top: 70px;
}
.margin-top-60 {
	margin-top: 60px;	
}
.margin-top-50 {
	margin-top: 50px;	
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-25 {
	margin-top: 25px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-25 {
	margin-bottom: 25px;
}
.padding-bottom-50 {
	padding-bottom: 50px;	
}
.searchbox_wrapper {
	padding-bottom: 23px;
	border-bottom: 2px solid #FF4B38;
	position: relative;
	margin-bottom: 20px;
}
.searchbox_wrapper::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 72px;
  height: 14px;
  width: 14px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: 2px solid #FF4B38;
  border-right: 2px solid #FF4B38;
  /*box-shadow: 2px solid #FF4B38;*/
  z-index: 100;
}
.searchbox_wrapper .left_block,.editlk_data .left_block{
	width: 400px;
	float: left;
}
.searchbox_wrapper .right_block,.editlk_data .right_block{
	width: 400px;
	float: right;
}
.wrapper_twoelements .item_left{
	float: left;
	width: 185px;
}
.wrapper_twoelements .item_right{
	float: right;
	width: 185px;
}
.wrapper_twoelements .fild_wrapper {
	width: 100%;
}
.fild_wrapper .item_checkradio {
	margin: 0;
}
.searchbtn_wrapper {
	text-align: right;
	margin-top: 33px;
	width: 400px;
	float: left;
}
.show_allbtn {
	text-align: left;
	margin-top: 40px;
	width: 400px;
	float: right;
}
.wrapperbtn_searchall {
	overflow: hidden;
}
.show_allbtn a {
	text-decoration: underline;
	font-size: 1em;
	color:#385c73;
}
.show_allbtn a:hover {
	color: #e74c3c;
}
.resultsearch_text {
	font-size: 0.928em;
	font-weight: 600;
}
/*BEGIN lk_access_add*/
h2 .desc_innertitle {
	color: #666666;
	font-size: 0.65em;
	margin-left: 5px;
	font-weight: normal;
}
h2 .desc_innertitle.req {
	float: right;
	margin-top: 5px;
}
h2 .desc_innertitle a{
	color:#385c73;
	text-decoration: underline;
}
h2 .desc_innertitle a:hover {
	color: #e74c3c;
}
h2.withe_desc {
	margin-top: 5px;
	margin-bottom: 20px;
}
.dashboardb_blockstyle {
	border: 1px dashed #CECECE;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
	display: block;
}
a.link_dashed:hover {
	background-color: #F1F5F7;
}
a.link_dashed:hover .title {
	color: #e74c3c;
}
a.link_dashed {
	text-decoration: none;
	line-height: 1.2;
}
a.link_dashed .title{
	color: #666666;
	font-weight: 600;
	font-size: 1.143em;
	margin-bottom: 7px;
		-webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a.link_dashed .text{
	font-size: 1em;
}
.dashboardb_blockstyle .left_item {
	float: left;
	width: 380px;
}
.dashboardb_blockstyle .right_item {
	float: right;
	width: 380px;
} 
.dashboardb_blockstyle .left_item .fild_wrapper,.dashboardb_blockstyle .right_item .fild_wrapper{
	width: 100%;
}
.dashboardb_blockstyle .left_item .wrapper_uploadfile .input_wrap,.dashboardb_blockstyle .right_item .wrapper_uploadfile .input_wrap{
	width: 268px;
}
.dashboardb_blockstyle .left_item .wrapper_uploadfile,.dashboardb_blockstyle .right_item .wrapper_uploadfile{
	margin: 30px 0 0 0;
}
.dashboardb_blockstyle .reception .wrapper_uploadfile {
	margin: 14px 0 0 0;
}
.dashboardb_blockstyle .reception .add_file{
	margin: 34px 0 0 0;
}
.descfor_fileupload {
	color: #666666;
	font-size: 0.857em;
	margin-top: 15px;
}
.description_text {
	font-size: 0.928em;
	color:#666666;
	margin: 25px 0 15px 0;
}
.description_text.grey {
	color:#999999;
	margin: 20px 0 10px 0;
}
.question_wrapper {
	font-size: 1em;
	color: #666666;
	margin-top: 25px;
}
.question_wrapper .item_checkradio {
	margin: 13px 0 0 0;
}
.question_wrapper label {
	margin-right: 20px;
}
.dashboardb_blockstyle .add_file {
 margin-top: 10px;
 margin-bottom: 25px;
}
.send-btnlk {
	text-align: center;
}
.send-btnlk .btn_blue {
	width: 215px;
}
.cansel_btnwrap {
	width: 400px;
	float: right;
	margin-top: 33px;
}
.editlk_data {
	border-bottom: 2px solid #E5EBF0;
	padding-bottom: 35px;
}

.lk_access_btn {
	padding-bottom: 18px;
}
/*END lk_access_add*/

/*BEGIN cardsud_wrapper*/
.cardsud_wrapper {
	overflow: hidden;
	border: 1px solid #D4DCE1;
	width: 100%;
}
.cardsud_wrapper .row_card {
	overflow: hidden;
	border-top: 1px solid #D4DCE1;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.cardsud_wrapper .row_card.darkbg {
	background-color: #CFDCE1;
}
.cardsud_wrapper .row_card.darkbg .left {
	background-color: transparent;
}
.cardsud_wrapper .row_card:first-child {
	border-top: none;
}
.cardsud_wrapper .row_card .left {
	background-color: #E5EBF0;
	font-size: 0.928em;
	color: #374140;
	padding: 11px 15px;
	float: left;
	width: 260px;
		  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}
.cardsud_wrapper .row_card .left span {
	margin: auto 0;
}
.cardsud_wrapper .row_card.divno_padding .right {
	padding: 0;
}
.cardsud_wrapper .row_card .inner_row{
	  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  overflow: hidden;
  border-top: 1px solid #D4DCE1;
}
.cardsud_wrapper .row_card.darkbg .inner_row {
	border-top-color: #C0CFD6;
}
.cardsud_wrapper .row_card .inner_row .case_number {
	width: 260px;
	float: left;
	padding: 11px 15px;
	border-right: 1px solid #C0CFD6;
}
.cardsud_wrapper .row_card .inner_row .claim {
	width: 309px;
	float: left;
	padding: 11px 15px;
}
.cardsud_wrapper .row_card .inner_row .veiw_object{
	width: 122px;
	float: left;
	padding: 11px 15px;
	border-right: 1px solid #C0CFD6;
	  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}
.cardsud_wrapper .row_card .inner_row .veiw_object span,
.cardsud_wrapper .row_card .inner_row .name_object span,
.cardsud_wrapper .row_card .inner_row .author_object span {
	margin: auto 0;
}
.cardsud_wrapper .row_card .inner_row .name_object{
	width: 137px;
	float: left;
	padding: 11px 15px;
	border-right: 1px solid #C0CFD6;
		  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}
.cardsud_wrapper .row_card .inner_row .author_object{
	float: left;
	width: 132px;
	padding: 11px 15px;
	border-right: 1px solid #C0CFD6;
		  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}
.cardsud_wrapper .row_card .inner_row .list_object{
	float: left;
	width: 176px;
}
.cardsud_wrapper .row_card .inner_row .list_object .height_twocol {
	min-height: 100%;
	height: 100%;
}
.cardsud_wrapper .row_card .item_left {
	width: 50%;
	border-right: 1px solid #C0CFD6;
	float: left;
	padding: 8px 15px;
}
.cardsud_wrapper .row_card .item_middle {
	width: 100%;
	padding: 8px 8px;
}
.cardsud_wrapper .row_card .item_right {
	width: 50%;
	float: left;
	padding: 8px 15px;
}
.cardsud_wrapper .inner_row .view_def,
.cardsud_wrapper .inner_row .name_def,
.cardsud_wrapper .inner_row .autgor_def{
	padding: 11px 13px;
	float: left;
	border-right: 1px solid #D4DCE1;
}
.cardsud_wrapper .darkbg .view_def,
.cardsud_wrapper .darkbg .name_def,
.cardsud_wrapper .darkbg .autgor_def,
.cardsud_wrapper .darkbg .decision{
	font-weight: bold;
}
.cardsud_wrapper .darkbg .view_def,
.cardsud_wrapper .darkbg .name_def,
.cardsud_wrapper .darkbg .autgor_def{
    border-right: 1px solid #C0CFD6;
}
.cardsud_wrapper .inner_row .view_def {
	width: 210px;
}
.cardsud_wrapper .inner_row .name_def {
	width: 214px;
}
.cardsud_wrapper .inner_row .autgor_def {
	border: none;
	width: 143px;
}
.cardsud_wrapper .inner_row .decision {
	width: 357px;
	padding: 11px 15px;
	float: left;
}
.cardsud_wrapper .row_card .inner_row:first-child {
	border-top: none;
}
.cardsud_wrapper .text-center {
	text-align: center;
}
.text-center {
	text-align: center;
}
.cardsud_wrapper .row_card .right {
	font-size: 0.928em;
	font-weight: 600;
	color:#666666;
	padding: 11px 15px;
	float: left;
	width: 568px;
	overflow: hidden;
}
.cardsud_wrapper .row_card .right .doc_name {
	width: 220px;
	border-right: 1px solid #C0CFD6;
	float: left;
	padding: 11px 0;
}
.cardsud_wrapper .row_card .right .doc_date {
	width: 130px;
	border-right: 1px solid #C0CFD6;
  float: left;
  padding: 11px 0 ;
}
.cardsud_wrapper .row_card .right .file_link {
	width: 215px;
  float: left;
  padding: 11px 0;
}
.wrapper_returnbtn {
	overflow: hidden;
	margin-top: 27px;
}
.wrapper_returnbtn .btn_blue {
	padding-left: 35px;
	padding-right: 30px;
	position: relative;
}
.wrapper_returnbtn .btn_blue::before {
	content: '';
	position: absolute;
	width: 5px;
	height: 8px;
	display: block;
	top: 17px;
	left: 19px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
  background-position: -116px -36px;
}
.wrapper_returnbtn .subscribe_btn{
	height: 40px;
	border: 1px dashed #CECECE;
	border-radius: 3px;
	font-size: 1em;
	color:#666666;
	padding: 9px 17px 10px 40px;
	float: right;
	text-decoration: none;
	position: relative;
}
.wrapper_returnbtn .subscribe_btn::before {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	display: block;
	top: 12px;
	left: 16px;
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
  background-position: -329px -36px;
}
.wrapper_returnbtn .subscribe_btn:hover{
	background-color: #F1F5F7;
}

/*END cardsud_wrapper*/
.iamnotrobot {
	height: 80px;
	border-radius: 3px;
	background-color: #E5EBF0;
	padding: 10px 15px;
	margin-top: 30px;
	overflow: hidden;
}
.iamnotrobot .item_checkradio {
	margin: 20px 0 0 0;
	float: left;
}
.iamnotrobot img {
	float: right;
}
.territorial .searchbtn_wrapper{
text-align: left;
margin-top: 20px;
}
.territorial .home_number {
	width: 85px;
}
.resultsearch_texttwo {
	font-size: 1em;
	color: #374140;
	margin-bottom: 15px;
}
.result_itemterrit {
	position: relative;
}
.result_itemterrit .title {
	color: #385c73;
	font-size: 1.43em;
	margin-bottom: 15px;
	font-weight: 600;
}
.result_itemterrit .to_map {
	position: absolute;
	top: 22px;
	right: 22px;
}
.result_itemterrit .to_map a {
	color:#999999;
	font-size: 0.928em;
	position: relative;
	padding-left: 21px;
}
.result_itemterrit .to_map a::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -427px -36px;
	height: 19px;
	width: 14px;
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
}
.result_itemterrit .line_terr {
	margin-bottom: 8px;
	padding-left: 25px;
	position: relative;
	font-size: 1em;
}
.result_itemterrit .line_terr .bold {
	font-weight: 600;
}
.result_itemterrit .line_terr .bold a {
	text-decoration: none;
	color: #666666;
}
.result_itemterrit .line_terr .bold a:hover {
	text-decoration: underline;
}
.result_itemterrit .line_terr .grey {
	color:#999999;
}
.result_itemterrit .line_terr.not_icon{
	padding: 0;
}
.result_itemterrit .line_terr.not_icon::before {
	display: none;
}
.result_itemterrit .line_terr::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	left: 0;
	top: 2px;
	display: block;
}
.result_itemterrit .line_terr.icon_map::before  {
	background-position: -346px -36px;
	left: 2px;
	width: 11px;
	height: 14px;
}
.result_itemterrit .line_terr.icon_time::before  {
	background-position: -359px -36px;
	width: 14px;
	height: 14px;
	left: 1px;
  top: 2px;
}
.result_itemterrit .line_terr.icon_website::before  {
	background-position: -375px -36px;
	width: 17px;
	height: 17px;
}
.result_itemterrit .line_terr.icon_mail::before  {
	background-position: -394px -36px;
	width: 16px;
	height: 12px;
	left: 1px;
	top: 4px;
}
.result_itemterrit .line_terr.icon_phone::before  {
	background-position: -412px -36px;
}
.border_searchgrey {
	height:2px;
	width: 100%;
	background-color: #E5EBF0;
	margin-top: 17px;
	margin-bottom: 5px;
}
.wrapper_scrolltables {
	outline: none;
	margin: 20px 0 45px 0;
	position: relative;
}
.wrapper_scrolltables::before {
	content: '';
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 100%;
	background-image: url('../_i/shadowleft_10x10.png');
	background-repeat: repeat;
	z-index: 200;
}
.wrapper_scrolltables::after {
	content: '';
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	height: 100%;
	background-image: url('../_i/shadowright_10x10.png');
	background-repeat: repeat;
	z-index: 200;
}
.wrapper_scrolltables.LeftShadow::before {
	display: block;
}
.wrapper_scrolltables.RightShadow::after {
	display: block;
}
.wrapper_scrolltables table {
	margin: 0;
}
.jspHorizontalBar .jspDrag {
    background: #AEC0CC;
    background-image: url('../_i/icon_scroll_7x6.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
}
.jspHorizontalBar {
    height: 20px;
    border-radius: 0px;
    background: #DAE4E9;
}
.wrapper_scrolltables .jspHorizontalBar .jspArrow {
	width: 12px;
	background: transparent;
	position: relative;
}
.wrapper_scrolltables .jspHorizontalBar .jspArrow::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	width: 5px;
	height: 9px;
	display: block;
	position: absolute;
	top: 5px;
}
.wrapper_scrolltables .jspHorizontalBar .jspArrowLeft::before {
	background-position: -468px -17px;
	right: 4px;
}
.wrapper_scrolltables .jspHorizontalBar .jspArrowRight::before {
	background-position: -476px -17px;	
	left: 4px;
}
.time_block .icon_time::before {
    content: '';
    background-image: url('../_i/icons.png');
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 19px;
    top: 8px;
    width: 14px;
    height: 14px;
    background-position: -359px -36px;
}
.resurs_wrapper {
	overflow: hidden;
	margin-top: 20px;
}
.resurs_wrapper .resurs_item {
	margin-bottom: 10px;
	position: relative;
 border: 1px dashed #CECECE;
 border-radius: 3px;
 padding: 8px 11px;
}
.resurs_wrapper .resurs_item .res_wrp {
	display: none;
}
.resurs_wrapper .resurs_item.open .res_wrp {
	display: block;
}
.resurs_wrapper .resurs_item .name {
	color: #666666;
	font-size: 1em;
}
.resurs_wrapper .resurs_item .res_link {
	 text-decoration: none;
	 display: inline;
}
.resurs_wrapper .resurs_item.open .res_link {
	display: none;
}
.resurs_wrapper .resurs_item .res_link .text {
	font-size: 1em;
	border-bottom: 1px dashed #385c73;
	color: #385c73;
}	
span.remove_btn {
	position: absolute;
	right: 11px;
	top:8px;
	cursor: pointer;
	padding-left: 13px;
	z-index: 20;
}
.group > span.remove_btn{
    right: 18px;
    top: 13px;
}
span.remove_btn span {
	border-bottom: 1px dashed #999999;
	font-size: 0.786em;
	color:#999999;
}
span.remove_btn::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -444px -36px;
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	left: 0;
	top: 6px;
}
.wrapper_uploadfileslistzpo .left_item{
	float: left;
  width: 370px;
}
.wrapper_uploadfileslistzpo .right_item{
  float: right;
  width: 370px;
}
.wrapper_uploadfileslistzpo .left_item .wrapper_uploadfile .input_wrap, 
.wrapper_uploadfileslistzpo .right_item .wrapper_uploadfile .input_wrap {
	width: 250px
}
.wrapper_uploadfileslistzpo .left_item .wrapper_uploadfile, 
.wrapper_uploadfileslistzpo .right_item .wrapper_uploadfile,
.reception .right_item .wrapper_uploadfile {
    margin: 30px 0 0 0;
}
.wrapper_uploadfileslistzpo .left_item .fild_wrapper, 
.wrapper_uploadfileslistzpo .right_item .fild_wrapper {
	width: 100%;
}
.add_file.upload_zpo {
    margin-bottom: 25px;
    margin-top: 10px;
}
.resurs_wrapper .left_resurs {
	float: left;
	width: 360px;
}
.resurs_wrapper .right_resurs {
	float: right;
	width: 360px;
}
.resurs_wrapper .resurs_item .fild_wrapper{
	width: 360px;
}
.resurs_wrapper .resurs_item .left_resurs .fild_wrapper,
.resurs_wrapper .resurs_item .right_resurs .fild_wrapper {
	width: 100%;
}
.resurs_wrapper .desc_text {
	color:#999999;
	font-size: 0.786em;
}
.resurs_wrapper .address_page .input_wrap{	
	margin-bottom: 10px;
	width: 290px;
	position: relative;
}
.resurs_wrapper .address_page .input_wrap span.remove_btn {
	right: -67px;
  top: 4px;
}
.resurs_wrapper .wrapperbtn_searchall {
	margin-bottom: 10px;
}
.resurs_wrapper .wrapperbtn_searchall .searchbtn_wrapper{
	width: 360px;
	margin-top: 20px;
}
.resurs_wrapper .wrapperbtn_searchall .cansel {
	width: 360px;
	float: right;
	margin-top: 20px;
}
.resurs_wrapper .wrapperbtn_searchall .searchbtn_wrapper .btn_blue {
	padding: 9px 12px;
}
/*BEIGN map*/
.map_link {
	background-color: #385c73;
	padding: 20px 0 20px 0;
  border-top: 3px solid #CBE0F3;
  position: relative;
}
.map_link::before{
  content: "";
  position: absolute;
  top: -9px;
  left: 40px;
  height: 14px;
  width: 14px;
  background: #2a4e64;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: 3px solid #CBE0F3;
  border-right: 3px solid #CBE0F3;
  z-index: 100;
}
.map_link a {
	color:#ffffff;
	font-size: 0.928em;
	text-decoration: none;
	padding: 3px 0px 3px 40px;
	display: block;
	position: relative;
}
.map_link a:hover,
.map_link a.active,
.map_link a.hover_marker {
	background-color: #2b4f65;
	color: #bbdefb;
}
.map_link a.active{
    font-weight: 600;
}
.map_link a.active::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	background-position: -455px -36px;
	display: block;
	width: 6px;
	height: 8px;
	left: 37px;
	position: absolute;
	top: 9px;
}
.map_link a.active {
	padding-left:50px;
}
#mapbig {
	/*height: 100%;
	width: 100%;*/
	min-height: 640px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -200px;
}
.innermap_overly {
	width: 420px;
	height: 320px;
	border-radius: 3px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.59);
box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.59);
background-color: #ffffff;
position: relative;
z-index: 20000;
}
.map_link .wrapper_overlay {
	display: none;
	overflow: hidden;
}
.exit_btn_info {
	display: none !important;
}
.wrapp_map {
	width: 100%;
	height: 748px;
	position: relative;
    overflow: hidden;
}
.wrapp_map .shadow_Left {
	position: absolute;
	left: 0;
	top: 0;
	width: 96px;
	height: 100%;
	background-image: url('../_i/map_shadow_left_96x96.png');
	background-repeat: repeat;
	z-index: 200;
}
.wrapp_map .shadow_right {
	position: absolute;
	right: 0;
	top: 0;
	width: 96px;
	height: 100%;
	background-image: url('../_i/map_shadow_right_96x96.png');
	background-repeat: repeat;
	z-index: 200;
}
.wrapp_map .shadow_top{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 96px;
	background-image: url('../_i/map_shadow_top_96x96.png');
	background-repeat: repeat;
	z-index: 200;
}
.wrapp_map .shadow_bottom {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 96px;
	background-image: url('../_i/map_shadow_bottom_96x96.png');
	background-repeat: repeat;
	z-index: 200;
}

.control_elements {
	width: 50px;
	top: 0;
	right: 0;
	z-index: 3000;
	position: absolute;
	padding: 22px 0;
	background-color: rgba(0,0,0,0.2);
}
.control_elements .btn_pm {
	color: #ffffff;
	text-align: center;
	height: 16px;
	width: 16px;
	display: block;
	margin: 0 auto 35px auto;
	cursor: pointer;
	overflow: hidden;
}
.control_elements .btn_pm::before {
	content: '';
	background-image: url('../_i/icons.png');
	background-repeat: no-repeat;
	width: 16px;
	display: block;
}
.control_elements .btn_pm.minus::before {
	background-position: -464px -36px;
	height: 2px;
	margin-top: 7px;
}
.control_elements .btn_pm.plus::before {
	background-position: -483px -36px;
	height: 16px;
}
.control_elements .slider-vertical {
	height: 230px;
	width: 2px;
	margin: 0 auto;
	border:none;
	border-radius: 0;
}
.control_elements .slider-vertical::before {
	content: '';
	width: 10px;
	position: absolute;
	top: 0;
	left: -4px;
	height: 1px;
	background-color: #ffffff;
}
.control_elements .slider-vertical::after {
	content: '';
	width: 10px;
	position: absolute;
	bottom: 0;
	left: -4px;
	height: 1px;
	background-color: #ffffff;
}
.control_elements .slider-vertical .middle {
	position: absolute;
	top: 111px;
	width: 10px;
	left: -4px;
	height: 1px;
	background-color: #ffffff;
}
.ui-slider-vertical .ui-slider-handle {
	width: 26px;
	height: 26px;
	background: transparent;
	background-image: url('../_i/slider_map_26x26.png');
	outline: none;
	display: block;
	border: none;
  margin-left: -8px;
  margin-bottom: -15px;
}
.ui-slider-vertical .ui-slider-range-min {
	background: transparent;
	border-radius: 0;
}
/*END map*/

.last_update {
	font-size: 0.928em;
	color:#999999;
}
.ui-accordion.lkaccess_accordion .ui-accordion-content {
	padding-left: 15px;
}
.ui-accordion.lkaccess_accordion .tabs_wrapper.ui-tabs {
	margin-top: 10px;
}
.ui-accordion.lkaccess_accordion .tabs_wrapper.ui-tabs .ui-tabs-nav .ui-tabs-tab a {
	padding: .5em 1em;
}
.ui-accordion.lkaccess_accordion .tabs_wrapper.ui-tabs .ui-tabs-nav .ui-tabs-tab a span {
	font-size: 0.786em;
}
.ui-accordion.lkaccess_accordion .ui-accordion-content .custom_table a{
	text-decoration: none;
}
.ui-accordion.lkaccess_accordion .ui-accordion-content .custom_table a:hover {
	text-decoration: underline;
}
.ui-accordion.lkaccess_accordion .ui-accordion-content .custom_table .load_video {
	position: relative;
	display: block;
}
.ui-accordion.lkaccess_accordion .ui-accordion-content .custom_table .load_video img{
	position: absolute;
	right: 0;
  top: 0;
}
.ui-accordion.lkaccess_accordion .cardsud_wrapper .row_card .left{
	width: 249px;
}
.ui-accordion.lkaccess_accordion .cardsud_wrapper .row_card .right {
	font-weight: normal;
	width: 514px;
}
/*BEGIN MSG_NEWS*/
.img_left {
	float: left;
    margin: 0px 25px 5px 0px;
    border: 1px solid #d8dada;
    display: block;
}
/*END msg_news*/


.custom-tooltip.ui-tooltip {
    background: #f2f5f7;
    border: 1px solid #cdcdcd;
}
.custom-tooltip.ui-tooltip {
    padding: 6px 10px;
    border-radius: 3px;
    box-shadow: none;
}
.ui-tooltip.ui-widget.custom-tooltip .ui-tooltip-content {
    color: #666;
    position: static;
    font: 13px 'Open Sans', sans-serif;
}
.custom-tooltip .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.custom-tooltip .arrow.top {
    top: -16px;
    bottom: auto;
  }
.custom-tooltip .arrow.left {
    left: 20%;
}
.custom-tooltip .arrow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    box-shadow: none;
    border-width: 9px 6px 0 6px;
    border-style: solid;
    border-color: #cdcdcd transparent transparent transparent;
}
.custom-tooltip .arrow.top:before {
    bottom: 0;
    top: auto;
    border-width: 0 6px 9px 6px;
    border-style: solid;
    border-color: transparent transparent #cdcdcd transparent;
}
.custom-tooltip .arrow:after {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 0;
    height: 0;
    box-shadow: none;
    border-width: 9px 6px 0 6px;
    border-style: solid;
    border-color: #f2f5f7 transparent transparent transparent;
}
.custom-tooltip .arrow.top:after {
    bottom: 1px;
    top: auto;
    border-width: 0 6px 9px 6px;
    border-style: solid;
    border-color: transparent transparent #f2f5f7 transparent;
}

/* contact form */
.contact {
	background: #7f7f7f;
	width: 100%;
	padding: 65px 0 20px 0;
}
.popup-wrap{
    width: 100%;
    padding: 36px 0 50px;
}
.ui-widget-overlay{
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 5000 !important;
}
.popup-wrap .popup{
    margin: 0 auto;
}
.popup{
    background: #fff;
    position: relative;
}
.popup-contact{
	width: 467px;
    padding: 25px 35px 33px;
    margin: 0 auto;
    box-sizing: border-box;
}
.popup-contact p{
    text-align: center;
    margin: 0 0 14px;
    color: #666;
    font-size: 1em;
}
.popup-contact .title{
    font-family: 'IntroCondBlackFree_0', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0 14px;
    color: #374140;
}
.container {
    width: 1181px;
    margin: 0 auto;
}
.submit_wrapper{
    margin-top: 26px;
    text-align: center;
}
.popup-contact textarea{
    height: 100px;
}
.popup .popup-close{
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background: #e6ebef url('../_i/ico-close-popup.png') no-repeat center center;
}
.popup .popup-close:hover{
    background-color: #d3dae0;
}
.ui-dialog.ui-widget.ui-widget-content{
    border: 0;
    padding: 0;
    border-radius: 0 !important;
    background: transparent;
    z-index: 5001 !important;
}
.ui-dialog .ui-dialog-content{
    padding: 30px 50px 20px 50px;
    margin: 0 50px;
    overflow: visible;
    background: #fff;
}
.ui-dialog .ui-dialog-titlebar{
    display: none;
}
.popup-contact .btn_blue{
	padding: 12px 0;
	width: 150px;
	text-align: center;
}
@media screen and (max-width: 510px) {
	.popup-contact {
		width: 290px;
	}
}

/* BEGIN 404 page */
.error-holder{
    width: 680px;
    margin: 21px auto 120px;
    padding: 0 0 0 60px;
}
.error-title{
    background: url("../_i/bg-404.png") no-repeat center center;
    padding: 134px 0 0 153px;
    height: 268px;
    margin: 0 0 0 54px;
}
.error-title span{
    font-family: "IntroRegular", sans-serif;
    font-size: 7.79em;
    line-height: 1em;
    letter-spacing: .01em;
    color: #bacbdb;
    display: inline-block;
    padding: 0;
}
.error-holder p{
    text-align: center;
}
.error-subtitle{
    font-size: 1.786em;
    line-height: 1.25em;
    color: #000;
    padding: 59px 0 27px;
}
.error-help-text{
    color: #2b2b2b;
    font-size: 1em;
    line-height: 1.715em;
}
.error-help-text a{
    text-decoration: none;
    color: #3c91c3;
}
.error-help-text a:hover{
    text-decoration: underline;
}
/* END 404 page */