.custom_table .tr_half_head_light td {
    background: #d3dae0;
}
.custom_table .tr_with_gr_b_border td {
    border-bottom: 2px solid #8896a2;
}
.custom_table .tr_with_gr_t_border td {
    border-top: 2px solid #8896a2;
}
.custom_table tr .td_light {
    background: #e6ebef !important;
}
.custom_table tr .td_dark {
    background: #b2bec8 !important;
}
@media screen and (max-width: 480px) {
    .custom_table .tr_half td:first-child {
        width: 30%;
    }
}
.btn_back a {
    width: 100%;
}
.btn_back a:before {
    content: '';
    display: inline-block;
    height: 8px;
    width: 5px;
    background-image: url(../_i/icons.png);
    background-position: -116px -36px;
    background-repeat: no-repeat;
}

.btn_sub a {
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    font-size: 1em;
    color: #666666;
    font-weight: normal;
    background: transparent;
    border: 1px dashed #CECECE;
    outline: none;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.btn_sub a:before {
    content: '';
    display: inline-block;
    height: 17px;
    width: 17px;
    background-image: url(../_i/icons-mobile.png);
    background-position: -30px 0;
    background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
    .btn_back, .btn_sub {
        text-align: left;
        display: inline-block;
    }
    .btn_sub {
        font-size: 0.9em;
        float: right;
        width: 250px;
    }
    .btn_back a , .btn_sub a {
        width: initial;
    }
}

.update {
    color: #999999;
    margin-top: 7px;
}
.wrapper_switcher_highter {
    padding: 10px 0;
    position: relative;
    display: inline-block;
    left: 50%;
    margin-left: -80px;
}
.wrapper_switcher_highter .left,  .wrapper_switcher_highter .right{
    width: 65px;
}
/* включить это в krok.css*/
.header_wrapper .wrapper_topmenu .first_linkmenu > a {
    background:#385c73;
}
/* поменять правило строка 3978 */
.innermap_overly {
    width: 100%;
    min-height: 300px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 3px;
    position: relative;
    /* когда вставляем вот эту строку убрать */
    box-shadow: none;
    /**/
    border: 1px dashed #CECECE;
    z-index: 20000;
}

/* 3600 */
.result_itemterrit .title {
    font-size: 1.40em;
}

.map2_result_itemterrit {
    border: none;
}

.ui-accordion .ui-accordion-content_wide {
    padding: 0 12px 20px 9px;
}